<include file="Index/header" />
<style type="text/css">
	#submit-button:hover{
		cursor:pointer;
	}
	input,textarea{
		border:2px solid #ABCDEF;

	}
</style>
<div class="clear"></div>
<div id="main">
	<div class="maincon" style="width:1100px;">
		<div><span style="color:red;">{$orderInfo.code_yw}</span> 订单确认 （确认后订单不可再编辑，请仔细填写订单信息）</div>
		<div class="primerbread">注意：<br/><span style="text-indent:2em;">
			1.鼠标移至各项查看注释，其中*为必填项。<br />
			2.Primer(引物)名称命名规则：英文字母与数字，其他字符将会过滤掉。<br/>
3.一个订单中只能提交同一需求量单位的引物。<br />
4.如果以下表单内容无法达到您的需求，可以尝试Excel表单上传订单。<br/> <br />
</span></div>
        <div class="order_con" style="margin-bottom:30px;width:1100px;">
		<form id="primerForm" method="post" autocomplete="off" action="{:U('Primer/Confirm')}">
        <table width="100%"  style="border-collapse:collapse;border:width:1100px;" border="1" id="FormTable">
			<tr>
           	  	<th width="5%">编号</th>
				<!-- <th width="5%">测序备用<br /><a href="javascript:DelTd(1);">取消</a> <a href="javascript:CopyTd(1);">全选</a></th> -->
                <th width="26%"><a title="同一订单中不能存在相同的引物名称">Primer名称 *</a></th>
                <th width="64%"><a title="字符长度限制≦250nt，只识别ATGC及常用的兼并碱基代码：M=A/C   R=A/G  W=A/T   S=G/C   Y=C/T   K=G/T  V=A/G/C    H=A/C/T     D=A/G/T   B=G/C/T  N=A/G/C/T，同一订单中不能存在相同的引物序列。">序列（5’ to 3’）*</a></th>
                <th width="5%">碱基数</th>
                <th width="15%"><a title="输入正整数，例如：4">需求量(OD或nmole)*</a><br /><a href="javascript:DelTd(2);">清空</a> <a href="javascript:CopyTd(2);">复制</a></th>
                <th width="9%"><a title="输入正整数，例如：4">分装管数 *</a><br /><a href="javascript:DelTd(3);">清空</a> <a href="javascript:CopyTd(3);">复制</a></th>
                <th width="11%"><a>纯化方式 *</a><br /><a href="javascript:DelTd(4);">清空</a> <a href="javascript:CopyTd(4);">复制</a></th>
                <th width="4%">5'修饰</th>
                <th width="4%">3'修饰</th>
                <th width="5%">其他修饰</th>
                <th width="16%">备注</th>
				<th>操作</th>
            </tr>
			<foreach name="list" item="L" key="i">
			<tr id="list_{$i+1}" align="center">
                <td>{$i+1}
                   <!-- 此处得到：orderid 用于删除操作 -->
                 <input type="hidden" name="orderid{$i+1}" value="{$L.orderid}" />
                </td>
                <td style="display:none;"><input type="checkbox" value="{$L.reserve}" name="reserve{$i+1}" id="reserve_{$i+1}" value="2" size="4" /></td>

                <td><input style="padding:0px;margin-left:-0px;width:96%;" name="primername{$i+1}" value="{$L.primername}" id="primername_{$i+1}" type="text" size="4" />
                </td>
                <td><input style="padding:0px;margin-left:-0px;width:96%;" name="sequence{$i+1}" value="{$L.sequence}" id="sequence_{$i+1}" class="sequence" oninput="$('#basenum_{$i+1}').html(this.value.length);" type="text" size="14" /></td>
                <td><div id="basenum_{$i+1}">0</div></td>
                <td><input name="demand{$i+1}" id="demand_{$i+1}" value="{$L.demand}" type="text" size="3" /></td>
                <td><input name="tubenum{$i+1}" id="tubenum_{$i+1}" value="{$L.tubenum}" type="text" size="3" /></td>
                <td>
                <select name="puremthod{$i+1}" id="puremthod_{$i+1}" size="1">
                     <option value="" <eq name="L['puremthod']" value=''>selected="selected"</eq>></option>
					<option value="1" <eq name="L['puremthod']" value='1'>selected="selected"</eq>>PAGE</option>
					<option value="2" <eq name="L['puremthod']" value='2'>selected="selected"</eq>>DSL</option>
					<option value="3" <eq name="L['puremthod']" value='3'>selected="selected"</eq>>HPLC</option>
					<option value="4" <eq name="L['puremthod']" value='4'>selected="selected"</eq>>PAGE plus</option>
					<option value="5" <eq name="L['puremthod']" value='5'>selected="selected"</eq>>RPC</option>
					<option value="6" <eq name="L['puremthod']" value='6'>selected="selected"</eq>>OPC</option>
					<option value="7" <eq name="L['puremthod']" value='7'>selected="selected"</eq>>HAP</option>
					<option value="8" <eq name="L['puremthod']" value='8'>selected="selected"</eq>>ULTRAPAGE</option>
                </select>
               <!--  <input type="text" name="puremthod{$i+1}" value="{$L.puremthod}" id="puremthod_{$i+1}" size="4"> -->
                </td>
                <td>
                 <select name="fmodification{$i+1}" id="fmodification_{$i+1}" size="1">
                    <option value="" <eq name="L['fmodification']" value=''>selected="selected"</eq>></option>
					<option value="1" <eq name="L['fmodification']" value='1'>selected="selected"</eq>>PO4</option>
					<option value="2" <eq name="L['fmodification']" value='2'>selected="selected"</eq>>NH2 C3</option>
					<option value="3" <eq name="L['fmodification']" value='3'>selected="selected"</eq>>NH2 C6</option>
					<option value="4" <eq name="L['fmodification']" value='4'>selected="selected"</eq>>NH2 C12</option>
					<option value="5" <eq name="L['fmodification']" value='5'>selected="selected"</eq>>NH2 C6 dT</option>
					<option value="6" <eq name="L['fmodification']" value='6'>selected="selected"</eq>>SH C6</option>
					<option value="7" <eq name="L['fmodification']" value='7'>selected="selected"</eq>>Biotin</option>
					<option value="8" <eq name="L['fmodification']" value='8'>selected="selected"</eq>>Biotin TEG</option>
					<option value="9" <eq name="L['fmodification']" value='9'>selected="selected"</eq>>Dual Biotin</option>
					<option value="10" <eq name="L['fmodification']" value='10'>selected="selected"</eq>>Digoxin</option>
					<option value="11" <eq name="L['fmodification']" value='11'>selected="selected"</eq>>Cy3</option>
					<option value="12" <eq name="L['fmodification']" value='12'>selected="selected"</eq>>Cy5</option>
					<option value="13" <eq name="L['fmodification']" value='13'>selected="selected"</eq>>FAM</option>
					<option value="14" <eq name="L['fmodification']" value='14'>selected="selected"</eq>>HEX</option>
					<option value="15" <eq name="L['fmodification']" value='15'>selected="selected"</eq>>TET</option>
					<option value="16" <eq name="L['fmodification']" value='16'>selected="selected"</eq>>6-JOE</option>
					<option value="17" <eq name="L['fmodification']" value='17'>selected="selected"</eq>>Rox</option>
					<option value="18" <eq name="L['fmodification']" value='18'>selected="selected"</eq>>TAMRA</option>
                </select>
          
                </td>
                <td>
                <select name="tmodification{$i+1}" id="tmodification_{$i+1}">
                     <option value="" <eq name="L['tmodification']" value=''>selected="selected"</eq> ></option>
					<option value="1" <eq name="L['tmodification']" value='1'>selected="selected"</eq>>PO4</option>
					<option value="2" <eq name="L['tmodification']" value='2'>selected="selected"</eq>>NH2 C3</option>
					<option value="3" <eq name="L['tmodification']" value='3'>selected="selected"</eq>>NH2 C7</option>
					<option value="4" <eq name="L['tmodification']" value='4'>selected="selected"</eq>>NH2 C6 dT</option>
					<option value="5" <eq name="L['tmodification']" value='5'>selected="selected"</eq>>SH C6</option>
					<option value="6" <eq name="L['tmodification']" value='6'>selected="selected"</eq>>Biotin</option>
					<option value="7" <eq name="L['tmodification']" value='7'>selected="selected"</eq>>Biotin TEG</option>
					<option value="8" <eq name="L['tmodification']" value='8'>selected="selected"</eq>>Digoxin</option>
					<option value="9" <eq name="L['tmodification']" value='9'>selected="selected"</eq>>Cy3</option>
					<option value="10" <eq name="L['tmodification']" value='10'>selected="selected"</eq>>Cy5</option>
					<option value="11" <eq name="L['tmodification']" value='11'>selected="selected"</eq>>FAM</option>
					<option value="12" <eq name="L['tmodification']" value='12'>selected="selected"</eq>>6-JOE</option>
					<option value="13" <eq name="L['tmodification']" value='13'>selected="selected"</eq>>Rox</option>
					<option value="14" <eq name="L['tmodification']" value='14'>selected="selected"</eq>>TAMRA</option>
					<option value="15" <eq name="L['tmodification']" value='15'>selected="selected"</eq>>DABCYL</option>
					<option value="16" <eq name="L['tmodification']" value='16'>selected="selected"</eq>>BHQ 1</option>
					<option value="17" <eq name="L['tmodification']" value='17'>selected="selected"</eq>>BHQ 2</option>
                </select>
                <!-- <input type="text" name="tmodification{$i+1}" value="{$L.tmodification}"  id="tmodification_{$i+1}" size="4" > -->
                </td>
				<td>
				<select name="othermod{$i+1}" id="othermod_{$i+1}">
					 <option value="" <eq name="L['othermod']" value=''>selected="selected"</eq>></option>
					<option value="1" <eq name="L['othermod']" value='1'>selected="selected"</eq>>dI</option>
					<option value="2" <eq name="L['othermod']" value='2'>selected="selected"</eq>>dU</option>
					<option value="3" <eq name="L['othermod']" value='3'>selected="selected"</eq>>SPO3</option>
				</select>
				<!-- <input type="text" name="othermod{$i+1}" value="{$L.othermod}" id="othermod_{$i+1}" size="4"> -->
				</td>
				<td>
					<input type="text" size="4" name="note{$i+1}" value="{$L.note}" id="note_{$i+1}">
				</td>
				<td><a href="javascript:DelTr({$i+1});" s="{$L.id}" title="点击删除" style="color:red;">删除</a></td>
            </tr>
			<input type="hidden" name="pid{$i+1}" id="pid{$i+1}" value="{$L.id}" />
			
			</foreach>
        </table>
		<input type="hidden" name="orderid" value="{$orderInfo.id}" />
		<input type="hidden" name="num" id="Num" value="{$num}" />
	  </div>
	   <br/>
	  <br/>
	  <br/>
	  <br/>
      <div style="border:0px solid red;"><input type="button" onclick="AddRow()" value="增加" /> 
      	<input id="addrownum" type="text" size="4" /> 行  
      	<input type="button" id="BlackLine" value="删除空行" />
       &nbsp;&nbsp;&nbsp;&nbsp;  
      	<span style="color:red;font-style:italic;">(注：如果要执行添加操作，先在文本框中输入数量，然后单击前面的"增加"按钮即可！)</span>

      </div>
      <div>项目描述：<input type="text" name="desc" /><br/>备注：<textarea name="info" cols="30"></textarea></div>

	  <div><input type="submit" id="submit-button" style="text-align:center;display:block;margin:0px auto;background:#FF6633;color:white;padding:8px;font-size:14px;font-weight:bold;margin-bottom:50px;" title="点击保存" value=" 确认订单 " /></div>

	  </form>
      <script type="text/javascript">
	  $(document).ready(function(){
		//给序列列绑定事件
		$('#FormTable tr').each(function(i) {
			if (i>0){
				$('#basenum_'+i).text($(this).find('td').eq(3).children().val().length);
			}
		});
		$('#submit-button').click(function(){
			var flag = true;
			
			$('#FormTable tr').each(function(i) {
			if (i > 0){
				$(this).find('td').each(function(t) {
					if ($(this).children().val() == ''){
						if (t == 1 || t==4|| t == 9 || t== 10 || t==11||t==8 || t==12){
							
						} else {
							flag = false;
							$(this).children().addClass('error');
						}
					} else {
						if (t==3){
							if (/^[AGCTMVRHWDSBYNK]+$/i.test($(this).children().val())){
								flag = true;
								$(this).children().removeClass('error');
							} else{
								flag = false;
								$(this).children().addClass('error');
							}
						} else if (t==5||t==6||t==7){
							if (/^[0-9]*[1-9][0-9]*$/.test($(this).children().val())){
								flag = true;
								$(this).children().removeClass('error');
							} else{
								flag = false;
								$(this).children().addClass('error');
							}
						} else {
							flag = true;
							$(this).children().removeClass('error');
						}
					}
				});
			}
			});
			// 添加检测序列是否有相同的验证
			if (flag){
				var data = '';
				$('#FormTable tr').each(function(i) {
					if (i>0){
						if (data!='') data += '|';
						data += $(this).find('td').eq(3).children().val();
					}
				});
				$.ajax({
					type:"POST",
					url:"{:U('Primer/ajax')}",
					data:"data="+data,
					async:false,
					dataType:'json',
					success: function(msg){
						if (msg.status){
							flag = true;
						} else {
							for(i=0;i<msg.biao.length;i++){
								$('#FormTable tr').eq(msg.biao[i]).find('td').eq(3).children().addClass('error');
							}
							flag = false;
							alert(msg.html);
						}
					}
				});
			}
			if (flag === true){
				$('#primerForm').submit();
			}
		});
	  });
	  
	  function AddRow(){
		var num = $('#addrownum').val();
		if (num == '') return false;
		if (/^[0-9]*[1-9][0-9]*$/.test(num) === false ) return false;
		var n = $('#FormTable tr:last').attr('id');
		 // alert(n);
		 // if(n == 'undefined'){
		 // 	n = 0;
		 // }

		var value = n.replace(/[^0-9]/ig,"");
		
		for(i=0;i<num;i++){
			value++;
			
			var html = "<tr id=\"list_"+value+"\" align=\"center\">";
            html +=    "<td>"+value+"</td>";
            html +=    "    <td style=\"display:none;\"><input type=\"checkbox\" name=\"reserve"+value+"\" id=\"reserve_"+value+"\" value=\"2\" size=\"4\" /></td>";
            html +=    "    <td><input style=\"padding:0px;margin-left:-0px;width:96%;\" name=\"primername"+value+"\" id=\"primername_"+value+"\" type=\"text\" size=\"8\" />";
            html +=    "   </td>";
            html +=    "    <td><input style=\"padding:0px;margin-left:-0px;width:96%;\" name=\"sequence"+value+"\" id=\"sequence_"+value+"\" class=\"sequence\" oninput=\"$('#basenum_"+value+"').html(this.value.length);\" type=\"text\" size=\"14\" /></td>";
            html +=    "    <td><div id=\"basenum_"+value+"\">0</div></td>";
            html +=    "    <td><input name=\"demand"+value+"\" id=\"demand_"+value+"\" type=\"text\" size=\"3\" /></td>";
            html +=    "    <td><input name=\"tubenum"+value+"\" id=\"tubenum_"+value+"\" type=\"text\" size=\"3\" /></td>";
            html +=    "    <td>";
            html +=    "    <select name=\"puremthod"+value+"\" id=\"puremthod_"+value+"\" size=\"1\">";
            html +=    "        <option value=\"\"></option>";
			html +=    "		<option value=\"1\">PAGE</option>";
			html +=    "		<option value=\"2\">DSL</option>";
			html +=    "		<option value=\"3\">HPLC</option>";
			html +=    "		<option value=\"4\">PAGE plus</option>";
			html +=    "		<option value=\"5\">RPC</option>";
			html +=    "		<option value=\"6\">OPC</option>";
			html +=    "		<option value=\"7\">HAP</option>";
			html +=    "		<option value=\"8\">ULTRAPAGE</option>";
            html +=    "    </select>";
            html +=    "    </td>";
            html +=    "    <td>";
            html +=    "    <select name=\"fmodification"+value+"\" id=\"fmodification_"+value+"\" size=\"1\">";
            html +=    "        <option value=\"\"></option>";
			html +=    "		<option value=\"1\">PO4</option>";
			html +=    "		<option value=\"2\">NH2 C3</option>";
			html +=    "		<option value=\"3\">NH2 C6</option>";
			html +=    "		<option value=\"4\">NH2 C12</option>";
			html +=    "		<option value=\"5\">NH2 C6 dT</option>";
			html +=    "		<option value=\"6\">SH C6</option>";
			html +=    "		<option value=\"7\">Biotin</option>";
			html +=    "		<option value=\"8\">Biotin TEG</option>";
			html +=    "		<option value=\"9\">Dual Biotin</option>";
			html +=    "		<option value=\"10\">Digoxin</option>";
			html +=    "		<option value=\"11\">Cy3</option>";
			html +=    "		<option value=\"12\">Cy5</option>";
			html +=    "		<option value=\"13\">FAM</option>";
			html +=    "		<option value=\"14\">HEX</option>";
			html +=    "		<option value=\"15\">TET</option>";
			html +=    "		<option value=\"16\">6-JOE</option>";
			html +=    "		<option value=\"17\">Rox</option>";
			html +=    "		<option value=\"18\">TAMRA</option>";
            html +=    "    </select>";
            html +=    "    </td>";
            html +=    "    <td>";
            html +=    "    <select name=\"tmodification"+value+"\" id=\"tmodification_"+value+"\">";
            html +=    "        <option value=\"\"></option>";
			html +=    "		<option value=\"1\">PO4</option>";
			html +=    "		<option value=\"2\">NH2 C3</option>";
			html +=    "		<option value=\"3\">NH2 C7</option>";
			html +=    "		<option value=\"4\">NH2 C6 dT</option>";
			html +=    "		<option value=\"5\">SH C6</option>";
			html +=    "		<option value=\"6\">Biotin</option>";
			html +=    "		<option value=\"7\">Biotin TEG</option>";
			html +=    "		<option value=\"8\">Digoxin</option>";
			html +=    "		<option value=\"9\">Cy3</option>";
			html +=    "		<option value=\"10\">Cy5</option>";
			html +=    "		<option value=\"11\">FAM</option>";
			html +=    "		<option value=\"12\">6-JOE</option>";
			html +=    "		<option value=\"13\">Rox</option>";
			html +=    "		<option value=\"14\">TAMRA</option>";
			html +=    "		<option value=\"15\">DABCYL</option>";
			html +=    "		<option value=\"16\">BHQ 1</option>";
			html +=    "		<option value=\"17\">BHQ 2</option>";
            html +=    "    </select>";
            html +=    "    </td>";
			html +=    "	<td>";
			html +=    "	<select name=\"othermod"+value+"\" id=\"othermod_"+value+"\">";
			html +=    "		<option value=\"\"></option>";
			html +=    "		<option value=\"1\">dI</option>";
			html +=    "		<option value=\"2\">dU</option>";
			html +=    "		<option value=\"3\">SPO3</option>";
			html +=    "	</select>";
			html +=    "	</td>";
			html +=    "<td>";
            html +=    " <input name=\"note"+value+"\" id=\"note_"+value+"\" type=\"text\" size=\"4\" />";
			html +=    "</td>";
			html +=    "	<td><a style=\"color:red;\" title=\"点击删除\" href=\"javascript:DelTr("+value+");\">删除</a></td>";
            html +=    "</tr>";
			
			$('#FormTable').append(html);
			$('#Num').val(value);
		}
	  }
	  function DelTr(tr){
	   // alert($('#list_'+tr+' a').attr('s'));
		 if (confirm("是否删除第"+tr+"行")){
             str = $('#list_'+tr+' a').attr('s');
            //ajax处理数据
             $.ajax({
           type: "GET",
           url: "http://www.jkrorder.com/index.php/Home/Primer/delRow?str="+str,
           data:"str="+str,
           success: function(msg){
              // $('#list tr').remove();
              // $('#list').html(msg);
               alert(msg);
              $('#list_'+tr).remove();
           }
        });



			
			//得到参数
           // wh = $('#list_'+tr+' a').attr('s');
           // window.location = "{:U('Primer/delRow',array('id'=>'"+wh+"'))}";

		 }
		 
		 //重新排序
		var trnum = 0;
		$('#FormTable tr').each(function(i) {
			trnum++;
			if (i>0) $(this).attr('id','list_'+i);
			$(this).find('td').each(function(t) {
				switch(t){
					case 0:
						$(this).html(i);
						break;
					case 1:
						$(this).children().attr('name','reserve'+i);
						$(this).children().attr('id','reserve_'+i);
						break;
					case 2:
						$(this).children().attr('name','primername'+i);
						$(this).children().attr('id','primername_'+i);
						break;
					case 3:
						$(this).children().attr('name','sequence'+i);
						$(this).children().attr('id','sequence_'+i);
						$(this).children().attr('oninput',"$('#sequence_{$i+1}').html(this.value.length);");
						break;
					case 4:
						$(this).children().attr('id','basenum_'+i);
						break;
					case 5:
						$(this).children().attr('name','demand'+i);
						$(this).children().attr('id','demand_'+i);
						break;
					case 6:
						$(this).children().attr('name','tubenum'+i);
						$(this).children().attr('id','tubenum_'+i);
						break;
					case 7:
						$(this).children().attr('name','puremthod'+i);
						$(this).children().attr('id','puremthod_'+i);
						break;
					case 8:
						$(this).children().attr('name','fmodification'+i);
						$(this).children().attr('id','fmodification_'+i);
						break;
					case 9:
						$(this).children().attr('name','tmodification_'+i);
						$(this).children().attr('id','tmodification__'+i);
						break;
					case 10:
						$(this).children().attr('name','othermod'+i);
						$(this).children().attr('id','othermod_'+i);
						break;
					case 11:
						$(this).children().attr('href','javascript:DelTr('+i+');');
						break;
				}
			});
		});
		//改变参数
		$('#Num').val(trnum-1);
	  }
	  function DelTd(v){
		var num = $('#FormTable tr:last').attr('id').replace(/[^0-9]/ig,"");
		var str = '';
		switch(v){
			case 1:
				str = 'reserve';
				break;
			case 2:
				str = 'demand';
				break;
			case 3:
				str = 'tubenum';
				break;
			case 4:
				str = 'puremthod';
				break;
		}
		for(i=1;i<=num;i++){
			if (v == 1){
				$('#'+str+'_'+i).attr('checked',false);
			} else if (v == 4){
				$('#'+str+'_'+i).val('');
			}else {
				$('#'+str+'_'+i).attr('value','');
			}
		}
	  }
	  function CopyTd(v){
		var num = $('#FormTable tr:last').attr('id').replace(/[^0-9]/ig,"");
		var str = '';
		switch(v){
			case 1:
				str = 'reserve';
				break;
			case 2:
				str = 'demand';
				break;
			case 3:
				str = 'tubenum';
				break;
			case 4:
				str = 'puremthod';
				break;
		}
		var strvalue = $('#'+str+'_1').val();
		for(i=1;i<=num;i++){
			if (v == 1){
				document.getElementById(str+'_'+i).checked = true;
			} else if (v == 4){
				$('#'+str+'_'+i).val(strvalue);
			}
			$('#'+str+'_'+i).attr('value',strvalue);
		}
	  }
	  </script>
  </div>
</div>
</body>
</html>
