<include file="Index/header" />
<!-- logo--导航菜单 结束 -->
<div class="clear"></div>
<div id="main">
	<div class="maincon">
        <div class="order_con">
        <div class="left">
        <div class="bread">客户信息</div>

        <table width="50%" cellspacing="0" cellpadding="0" border="0">
           <tr  >
                <td width="140" align="left">姓 名：</td>
                <td width="310" style="border-bottom:#000 1px solid"><span id="lblUserName">{$userInfo.name}</span></td>
            </tr>
            <!-- 新增内容开始 -->
              <tr>
                <td align="left">所在单位：</td>
                <td style="border-bottom:#000 1px dotted; word-break:break-all; word-wrap:break-word;"><span id="lblUserCompanyName">{$userInfo.company}</span></td>
            </tr>
              <tr>
                <td align="left">单位地址：</td>
                <td style="border-bottom:#000 1px dotted; word-break:break-all; word-wrap:break-word;"><span id="lblUserCompanyName">{$userInfo.address}</span></td>
            </tr>
            <!-- 新增内容结束 -->
            <tr>
                <td align="left">电 话：</td>
                <td style="border-bottom:#000 1px dotted"><span id="lblUserPhone">{$userInfo.phone}</span></td>
            </tr>
            <tr>
                <td align="left">PI/实验室负责人：</td>
                <td style="border-bottom:#000 1px dotted; word-break:break-all; word-wrap:break-word;"><span id="lblUserPI">{$userInfo.dutyer}</span></td>
            </tr>
            <!-- <tr>
                <td align="right">单位部门：</td>
                <td style="border-bottom:#000 1px dotted; word-break:break-all; word-wrap:break-word;"><span id="lblUserCompanyName">{$userInfo.company}</span></td>
            </tr> -->
            <tr>
                <td align="left">电子邮件：</td>
                <td style="border-bottom:#000 1px dotted; word-break:break-all; word-wrap:break-word;"><span id="lblUserLoginName">{:getUserEmail()}</span></td>
            </tr>
            <!-- 新增内容开始 -->
            <tr>
                <td align="left">课题组：</td>
                <td style="border-bottom:#000 1px dotted; word-break:break-all; word-wrap:break-word;"><span id="lblUserCompanyName">{$userInfo.subject}</span></td>
            </tr>
             <tr>
                <td align="left">发票抬头：</td>
                <td style="border-bottom:#000 1px dotted; word-break:break-all; word-wrap:break-word;"><span id="lblUserCompanyName">{$userInfo.piao}</span></td>
            </tr>
             <tr>
                <td align="left">样品、发票邮寄地址：</td>
                <td style="border-bottom:#000 1px dotted; word-break:break-all; word-wrap:break-word;"><span id="lblUserCompanyName">{$userInfo.tempaddress}</span></td>
            </tr>
            <!-- 新增内容结束 -->
              <tr>
                <td align="left">所在城市/地区：</td>
                <td style="border-bottom:#000 1px dotted; word-break:break-all; word-wrap:break-word;"><span id="lblUserCompanyName">
                    {$userInfo.province|getProvince} / 
                    {$userInfo.city|getCity}
                </span></td>
            </tr>
            
             
        </table>
        
        </div>
     

		<div class="right">
        <div class="bread">定购信息</div>
		<table width="50%" cellspacing="0" cellpadding="0" border="0">
			       <tr>
                <td width="80" align="left">订单号：</td>
                <td width="340" style="border-bottom:#000 1px dotted"><span id="lblOrderID">{$orderInfo.code_yw}</span></td>
            </tr>

            <tr>
                <td width="90" align="left">金开瑞编号：</td>
                <td width="330" style="border-bottom:#000 1px dotted">
                    <span id="lblOrderID">{$orderInfo.gs_num}</span>
                </td>
            </tr>

             <tr>
                <td width="90" align="left">合同编号：</td>
                <td width="330" style="border-bottom:#000 1px dotted">
                    <span id="lblOrderID">{$orderInfo.gs_he}</span>
                </td>
            </tr>

              <tr>
                <td width="80" align="left">订单类型：</td>
                <td width="340" style="border-bottom:#000 1px dotted"><span id="lblOrderID">{$orderInfo.ordertype|showOrderType}</span></td>
            </tr>
            <tr>
                <td align="left">订单数目：</td>
                <td style="border-bottom:#000 1px dotted"><span id="lblOrderSmaplsCount">
                  {$orderInfo.num_yinwu}

                </span></td>
            </tr>
            <tr>
                <td align="left">日 期：</td>
                <td style="border-bottom:#000 1px dotted"><span id="lblOrderDate">{$orderInfo.addtime|date='Y-m-d',###}</span></td>
            </tr>
            <tr>
                <td align="left">销售名称：</td>
                <td style="border-bottom:#000 1px dotted"><span id="lbSalesName">
                   {$orderInfo.sale_name}
                </span></td>
            </tr>
            <tr>
                <td align="left" style="font-weight:bold">项目描述：</td>
                <td style="border-bottom:#000 1px dotted; word-break:break-all; word-wrap:break-word;"><span id="lblOrderDescription">{$orderInfo.description}</span></td>
            </tr>
            <tr>
                <td align="left" style="font-weight:bold;">其他备注：</td>
                <td style="border-bottom:#000 1px dotted; word-break:break-all; word-wrap:break-word;"><span id="lblOrderComments">{$ordrInfo.info}</span></td>
            </tr>
            <tr>
                <td align="left" style="font-weight:bold;">状 态：</td>
                <td style="border-bottom:#000 1px dotted; word-break:break-all; word-wrap:break-word;"><span id="lblOrderComments">

                    <if condition="$orderInfo.synthesis eq 1">
                         <span style="color:black;">{$orderInfo.synthesis|getPrimerSynthesis} </span>
                         <elseif  condition="$orderInfo.synthesis eq 2"/>
                    <span style="color:green;">{$orderInfo.synthesis|getPrimerSynthesis} </span>
                    <elseif condition="$orderInfo.synthesis eq 3"/>
                      <span style="color:green;">{$orderInfo.synthesis|getPrimerSynthesis} </span>

                    <elseif condition="$orderInfo.synthesis eq 4"/>
                      <span style="color:red;">{$orderInfo.synthesis|getPrimerSynthesis} </span> 

                    <elseif condition="$orderInfo.synthesis eq 5"/>
                      <span style="color:green;">{$orderInfo.synthesis|getPrimerSynthesis} </span>

                     <elseif condition="$orderInfo.synthesis eq 6"/>
                      <span style="color:green;">{$orderInfo.synthesis|getPrimerSynthesis} </span> 

                    <elseif condition="$orderInfo.synthesis eq 7"/>
                      <span style="color:red;">{$orderInfo.synthesis|getPrimerSynthesis} </span>  

                    <else />
                      <span style="color:green;">

                      <!-- {$orderInfo.synthesis|getPrimerSynthesis}  -->

                      </span>    

                    </if>

                </span></td>
            </tr>

            <tr>
                <td align="left" style="font-weight:bold;">快递单号：</td>
                <td style="border-bottom:#000 1px dotted; word-break:break-all; word-wrap:break-word;"><span id="lblOrderComments">
                     <eq name="orderInfo.num" value="">
                          暂无快递单号
                         <else />
                          {$orderInfo.num}
                     </eq>
            </span></td>
            </tr>


		</table>
		</div>
	</div>
       <!-- start -->
        <div class="order_con" style="border:0px solid black;width:1000px;height:350px;margin-bottom:20px;">
           <div class="bread" style="margin:16px 0 10px -10px;">在线咨询</div> 
           <table border="1" class="wuhan">
                <tr align="center"   class="wbd" bgcolor="#276CC7" style="background:red;height:10px;">
                      <td style="background:green;color:#cccccc;height:10px;">订单号</td>
                     <td style="background:green;color:#cccccc;height:10px;">订购日期</td>
                      <td style="background:green;color:#cccccc;height:10px;">订单状态</td>
                       <td style="background:green;color:#cccccc;height:10px;">快递单号</td>
                       <td style="background:green;color:#cccccc;height:10px;">总金额(￥)</td>
                        <td style="background:green;color:#cccccc;height:10px;" colspan="2">
                             相关文件下载
                        </td>
                </tr>
                <tr align="center" class="wbd"  style="height:30px;">
                      <td  >
                        {$orderInfo.code_yw}
                       <!--  <if condition="$orderInfo.num eq ''">
                            
                            暂无订单号
                       <else />
                      {$orderInfo.num}  
                       </if>  -->
                    </td>
                     <td  >
                    {$orderInfo.addtime|date='Y-m-d / H:i:s',###}
                     </td>
                      <td  >

                      <if condition="$orderInfo.synthesis eq 1">
                          <!-- <span style="color:black;">{$orderInfo.synthesis|getPrimerSynthesis} </span>
                          <br/> -->
                          <span style="color:red;">(您的订单已发送,请等待最新消息！)</span>
                    
                    <elseif  condition="$orderInfo.synthesis eq 2"/>
                         <span style="color:red;">{$orderInfo.synthesis|getPrimerSynthesis} </span>
                         <br/><span style="color:red;">(您的订单已收到,请等待最新消息！)</span>
                    
                    <elseif condition="$orderInfo.synthesis eq 3"/>
                        <span style="color:green;">{$orderInfo.synthesis|getPrimerSynthesis} </span>
                        <br/><span style="color:red;">(您的订单已合成,请等待最新消息！)</span>

                    <elseif condition="$orderInfo.synthesis eq 4"/>
                        <span style="color:green;">{$orderInfo.synthesis|getPrimerSynthesis} </span>
                        <br/><span style="color:red;">(您的订单已取消,请等待最新消息！)</span>

                    <elseif condition="$orderInfo.synthesis eq 5"/>
                        <span style="color:green;">{$orderInfo.synthesis|getPrimerSynthesis} </span>
                        <br/><span style="color:red;">(您的订单已完成,请等待最新消息！)</span>

                    <elseif condition="$orderInfo.synthesis eq 6"/>
                        <span style="color:green;">{$orderInfo.synthesis|getPrimerSynthesis} </span>
                        <br/><span style="color:red;">(您的订单已经发货，注意使用'顺丰快递'查收)</span>

                   <elseif condition="$orderInfo.synthesis eq 7"/>
                        <span style="color:green;">{$orderInfo.synthesis|getPrimerSynthesis} </span>
                        <br/><span style="color:red;">(您的订单已终止,请等待最新消息！)</span>


                    </if>

                      </td>
                       <td>
                         <if condition="$orderInfo.num eq ''">
                            
                            暂无快递单号
                       <else />
                      {$orderInfo.num}  
                       </if> 
                      </td>
                       <td  >
                        {$orderInfo.sale_money} 
                      </td>
                      <!--   <td  >
                            <a href="">文件1下载</a>
                        </td> -->
                         <td colspan="2" >
                            <empty name="orderInfo.jia">
                              暂无文件下载
                            <else />
                           <a href="{:U('Gene/xiazai','id='.$orderid)}" title="点击下载">文件(夹)下载</a>
                          </empty>
                           
                        </td>
                </tr>
           </table>
            <table border="1" class="wuhan">
               <!--  <tr align="center"   class="wbd" bgcolor="#276CC7"  
                </tr> -->
                <tr>
                    <td align="center" valign="middle" rowspan="2">留言</td>
                    <td align="left"  colspan="5" id="notes" class="xialan">
    <span style="color:red;font-family:微软雅黑;">系统消息：尊敬的客户，您好！ 有什么服务需要咨询吗？
        <br/></span>
        <hr/>
       <!--  <textarea> -->
        <foreach name="notes" item="info">
            <eq name="info.flag" value="0">
            <span style="color:green;">提问:</span>【{$info.addtime|date='Y-m-d / H:i:s',###}】<span style="color:green;">{$info.content|trim}</span><br/>
            <else />
            <span style="color:red;">解答:</span>【{$info.addtime|date='Y-m-d / H:i:s',###}】<span style="color:red;">{$info.content|trim}</span><br/>
        </eq>
        </foreach>
        <!-- </textarea> -->
    </td>
                </tr>
                <form action="{:U('Gene/liuyan','oid='.$orderid)}" method="post" autocomplete="off"> 
                <tr >
                    <td colspan="4">
                        <textarea name="contents" id="hahaha" placeholder="我要留言..." cols="100" rows="1"></textarea>
                    </td>
                    <td>
                        <input type="button" style="cursor:pointer;" id="liuyan_order" value="  提 交  " />
                    </td>
                </tr>
                </form>
                
            </table>
        </div>
        <!-- end -->
    <div class="order_con" style="margin-top:80px;">
   <div class="bread" style="margin:16px 0 10px -10px;">基因订单信息</div>
    <!--基因信息开始-->
      <foreach name="genelist" item="wh" key="k" >

           <table border="1" style="border-collapse:collapse;padding:2px;line-height:10px;">
              <tr align="center" class="wuheng" bgcolor="#276CC7" style="background:red;">
                 <td style="background:#276CC7;color:white;">基因合成服务-{$k+1}</td>
                 <td style="background:#276CC7;color:white;">
                    <!--  <a href="<?php echo U("Gene/editors");?>?id={$wh.id}" style="color:white;padding:3px;">编辑</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                      <a href="<?php echo U("Gene/copy_gene_order");?>?id={$wh.id}"  style="color:white;padding:3px;">复制</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                       <a href="<?php echo U("Gene/del_gene_order");?>?id={$wh.id}"  style="color:white;padding:3px;">删除</a> -->
                 </td>
             </tr>
             <tr align="center">
                 <td style="color:black;">基因信息</td>
                 <td align="left">
                      
                            基因名称：{$wh.gene_name}<br/>
                             碱基/氨基酸数量：{$wh.gene_contents_num}<br/>
                        <eq name="wh['gene_serial_sel']" value="1">
                             DNA序列：
                         <else />
                            蛋白质序列：
                         </eq>   
                         <br/> 
                             <!-- {$wh.gene_contents} -->
                           <?php 
                           $content = $wh['gene_contents'];
                           $content = str_replace(" ","",$content);
                           $content = str_replace("\n","",$content);
                           $content = str_replace("\r","",$content);

                          $length = strlen($content);
                          // echo $length;

                          $num = ceil($length/10);

                          $rows = ($length / 50) + 1;
                          // echo $num;
     
                           $arr=array();
                           $flag = 0;
                           $sub = "";
                           echo "<textarea  rows='".$rows."' readonly=\"readonly\" cols='80'>";
                            // echo "<table class='wuji' border='0' cellspacing='0' cellpadding='0' style='font-size:13px;height:80px;padding:0px;line-height:15px;' width='350px' height='200px'>";
                            // echo "<tr style='width:20px;'>";
                            for($ii = 0;$ii < $num ; $ii ++){
                       
                            $sub = substr($content,$ii * 10,10);
                            echo $sub."  ";
                            // echo "<td>".$sub."</td>";
                            // $arr[$ii] = $sub;
                            $flag ++;

                            if($flag % 5 == 0){
                              // echo "</tr><tr>";
                              echo "\n";
                            }
                            $sub = "";
                        
                          }
                          // echo "</table>";
                           echo "</textarea>";



                          




                          ?>  

                             <br/>
                             5'序列：{$wh.gene_serial_5}<br/>
                             3'序列：{$wh.gene_serial_3}<br/>
                           
                         
                     
                 </td>
             </tr>
                 <eq name="wh.gene_seo" value="1">
                     <tr align="center">
                         <td style="color:black;">密码子优化</td>
                         <td align="left">
                             表达宿主:
                               <eq name="wh['gene_seo_host']" value="0"></eq>
<eq name="wh['gene_seo_host']" value="1">Arabidopsis thaliana</eq>
<eq name="wh['gene_seo_host']" value="2">Bacillus subtilis</eq> 
<eq name="wh['gene_seo_host']" value="3">Bos taurus</eq> 
<eq name="wh['gene_seo_host']" value="4">Brassica napus</eq> 
<eq name="wh['gene_seo_host']" value="5">Caenorhabditis elegans</eq> 
<eq name="wh['gene_seo_host']" value="6">Chlamydomonas reinhardtii</eq> 
<eq name="wh['gene_seo_host']" value="7">Cricetulus griseus</eq> 
<eq name="wh['gene_seo_host']" value="8">Drosophila melanogaster</eq> 
<eq name="wh['gene_seo_host']" value="9">Escherichia coli</eq> 
<eq name="wh['gene_seo_host']" value="10">Homo sapiens</eq>
<eq name="wh['gene_seo_host']" value="11">Mus musculus</eq> 
<eq name="wh['gene_seo_host']" value="12">Nicotiana tabacum</eq> 
<eq name="wh['gene_seo_host']" value="13">Oryza sativa</eq>
<eq name="wh['gene_seo_host']" value="14">Pichia pastoris</eq> 
<eq name="wh['gene_seo_host']" value="15">Saccharomyces cerevisiae</eq> 
<eq name="wh['gene_seo_host']" value="16">Zea mays</eq> 
<eq name="wh['gene_seo_host']" value="17">Other</eq> 
                              &nbsp;;&nbsp;
                              其他 ： {$wh.gene_seo_host_aa}  &nbsp;;&nbsp;
                             <!-- ;优化的起始位点:{$wh['gene_seo_start']}
                             <eq name="wh['gene_start']" value="1">bp</eq>
                              <eq name="wh['gene_start']" value="2">aa</eq>
                              
                             ;结束位点:{$wh['gene_seo_end']}
                              <eq name="wh['gene_end']" value="1">bp</eq>
                              <eq name="wh['gene_end']" value="2">aa</eq>
                              
                             ;ORF 开始位点:{$wh['gene_orf_start']};
                             结束位点:{$wh['gene_orf_end']}; -->
                             避免的酶切位点:  {$wh['gene_avoid_site']}
                              &nbsp;;&nbsp;保留的酶切位点 :  {$wh['gene_save_site']} &nbsp;;&nbsp;
                             起始密码子 :
                             <eq name="wh['gene_seo_result']" value='0'></eq>
                             <eq name="wh['gene_seo_result']" value='1'>需要，ATG.</eq>
                             <eq name="wh['gene_seo_result']" value='2'>不需要</eq>&nbsp;;&nbsp;
                             终止密码子:
                             <eq name="wh['gene_seo_result_a']" value='0'></eq>
                             <eq name="wh['gene_seo_result_a']" value='1'>需要，TAG 或者 TAA 或者 TGA.</eq>
                             <eq name="wh['gene_seo_result_a']" value='2'>不需要</eq>&nbsp;;&nbsp;
                             指定终止的序列 :  {$wh.gene_rel_serial}&nbsp;;&nbsp;
                             备注 : {$wh['gene_seo_note']}

                         </td>
                     </tr>
                 </eq>
              <tr align="center">
                 <td style="color:black;">克隆载体</td>
                 <td align="left">
                      

                         是否需要亚克隆：
                        <eq name="wh.gene_other" value="1">否</eq>
                         <eq name="wh.gene_other" value="2">是</eq>&nbsp;;&nbsp;
                          
                       
                       <eq name="wh.gene_other" value='2'>
                        亚克隆载体名称：{$wh.gene_clone_ya}&nbsp;;&nbsp;
                        克隆位点_5':   {$wh.gene_clone_site}&nbsp;;&nbsp;
                        克隆位点_3':   {$wh.gene_clone_site_a}&nbsp;;&nbsp;
                        抗性 : {$wh.gene_clone_kx}&nbsp;;&nbsp;
                        测序引物 : {$wh.gene_clone_cy}&nbsp;;&nbsp;
                        载体序列 : {$wh.gene_clone_zx}&nbsp;;&nbsp;
                         
                       </eq>
                       
                 </td>
             </tr>
              <tr align="center">
                 <td style="color:black;">质粒制备</td>
                 <td align="left">
                      
                         <eq name="wh.gene_zhili_sel" value="1">准备交付: 2-4 μg (免费)</eq>
                         <eq name="wh.gene_zhili_sel" value="2">
                            自定义质粒制备:
                            <eq name="wh.gene_zhili_content" value="0">0</eq>
                            <eq name="wh.gene_zhili_content" value="1">100 μg</eq>
                            <eq name="wh.gene_zhili_content" value="2">200 μg</eq>
                            <eq name="wh.gene_zhili_content" value="3">300 μg</eq>
                            <eq name="wh.gene_zhili_content" value="4">400 μg</eq>
                            <eq name="wh.gene_zhili_content" value="5">500 μg</eq>
                            <eq name="wh.gene_zhili_content" value="6">1 mg</eq>
                           


                             <!-- 模板名称:{$wh.gene_zhili_name}; -->
                             <br/>
                             质量级别 : <eq name="wh.gene_zhili_level" value="1">普通转化级</eq>
                        <eq name="wh.gene_zhili_level" value="2">细胞转染级(去内毒素)</eq>
                        </eq>
                      
                      
                 </td>
             </tr>
         </table>
             
            <br/>
         </foreach> 
     

    <!--基因信息结束-->


</div>
</body>
<style>
    .wuhan,tr,td{
        border-collapse:collapse;
    }
    .wbd{
        height:30px;
    }
    .xialan{
        display:block;
        height:180px;
        overflow-y:auto;
    }
    textarea{
      border:0px solid white;
    }
</style>
<script>
  $(function(){
      // $(".xialan").animate({scrollTop:$(".xialan").offset().top+10000},1000);
    $("#liuyan_order").click(function(){
        content = $("#hahaha").val();
        content = content.replace(/(^\s*)|(\s*$)/g, "");
        // alert("111");
         $.ajax({
           type: "GET",
           url: "/index.php/Home/Gene/liuyan",
           // url:"./liuyan",
           data:"id_order="+{$orderid}+"&id_user="+{$id_user}+"&content="+content,
           success: function(msg){
              $('#notes').empty();
              $('#notes').html(msg);
              // $(".wbd").attr("height","20");
              // alert(msg);
               $(".xialan").animate({scrollTop:$(".xialan").offset().top+10000},1000);
               $("#hahaha").select();

           }
        });
         document.getElementById("hahaha").value="";
    })
    // $("html,body").animate({scrollTop:$("#qy_name").offset().top},1000);//1000是ms,也可以用slow代替
  
    })

  function go(){
     $.ajax({
           type: "GET",
           url: "/index.php/Home/Gene/liuyan_all",
           // url:"./liuyan",
           data:"id_order="+{$orderid},
           success: function(msg){
              $('#notes').empty();
              $('#notes').html(msg);
              // $(".wbd").attr("height","20");
              // alert(msg);
               $(".xialan").animate({scrollTop:$(".xialan").offset().top+10000},120000);
               $("#hahaha").focus();

           }
        });

  }
  setInterval("go()",60000);
</script>
</html>
