 <include file="Index/header" />


<style type="text/css">
    #main{
      filter:alpha(opacity=100);
      opacity:1;
    }

    #op:hover{
      cursor:pointer;
      color:red;
    }
    .xingxing{
        color:red;
    }
    .dianji:hover{
        cursor:pointer;
        color:red;
    }
    .close_window:hover{
      cursor:pointer;
    }
    table{
      border:0px solid red;
    }
    option{
      padding:2.7px;
    }
    .closeBtn_a:hover{
      cursor:pointer;
    }
    .dianji_a:hover{
      cursor:pointer;
    }
     .dianji_b:hover{
      cursor:pointer;
    }
    .close-btn:hover{
      cursor:pointer;
    }
    .ok-bnt:hover{
      cursor:pointer;
    }
    .seo_edit:hover{
     cursor:pointer;
    }


</style>


<script type="text/javascript">
    // function show(){
    //     alert("nn");
    // }
//var t=0;
$(document).ready(function(){
var t=0;
  $(".serial_b").click(function(){
      $(".serial_sel").html("<font color='red'>(使用*作为结束符号)</font>");
      $(".gene_seo").html("<font color='red'>(请选择密码子优化服务)</font>");
  });

   $(".serial_a").click(function(){
      $(".serial_sel").html("");
      $(".gene_seo").html("");
  });

$("#a_1").click(function(){
   // $(".zhili_sel_wh").removeAttr("disabled"); 
 // alert("aaa");
 $(".gene_zhili_content").removeAttr("disabled");
 $(".gene_zhili_level").removeAttr("disabled");
 $(".gene_zhili_name").removeAttr("disabled");
 
});

$("#b_1").click(function(){
   // $(".zhili_sel_wh").removeAttr("disabled"); 
 // alert("aaa");
 $(".gene_zhili_content").attr("disabled","true");
 $(".gene_zhili_level").attr("disabled","true");
 $(".gene_zhili_name").attr("disabled","true");
 
});


$(".password_seo").click(function(){
     $("#coden_opt").show();
    // $("#main").hide();
});

$(".close_window").click(function(){
$(".password_seo").removeAttr("checked");
$(".pwd_seo").attr("checked","true");
$(".seo_edit").hide();
$("#coden_opt").hide();
document.getElementById('pwd_seo').checked="checked";
// document.getElementById('pwd_seo').checked="true";
//$(".pwd_seo").attr("checked","checked");
//alert($(".pwd_seo").attr("checked"));


});

$(".close-btn").click(function(){
   $(".password_seo").removeAttr("checked");
  $(".pwd_seo").attr("checked",true);
  document.getElementById("pwd_seo").checked="true";
$("#coden_opt").hide();
$(".seo_edit").hide();

})

$(".ok-bnt").click(function(){
   document.getElementById("host").value = $("#host").val();
// alert($("#host").val());
  document.getElementById("opt_start_position").value=$("#opt_start_position").val();
  // alert($("#opt_start_position").val());
  
document.getElementById("opt_start_position_unit").value=$("#opt_start_position_unit").val();

document.getElementById("opt_end_position").value=$("#opt_end_position").val();

document.getElementById("opt_end_position_unit").value=$("#opt_end_position_unit").val();

document.getElementById("orf_start_position").value=$("#orf_start_position").val();

document.getElementById("orf_end_position").value=$("#orf_end_position").val();

document.getElementById("restriction_void").value=$("#restriction_void").val();

document.getElementById("restriction_keep").value=$("#restriction_keep").val();

// document.getElementById("stop_position").value=$("#stop_position").val();

document.getElementById("comments").value=$("#comments").val();
document.getElementById("stop_sequence").value=$("#stop_sequence").val();





  $(".seo_edit").show();
  $("#coden_opt").hide();
})

$(".pwd_seo").click(function(){
  $(".seo_edit").hide();
  $("#coden_opt").hide();
})

$(".seo_edit").click(function(){
   $("#coden_opt").show();
})



$(".dianji_a").click(function(){
  $("#divThink").show();
  var m=5;
  $('#www').attr('s',m);
   
})

$(".dianji_b").click(function(){
  $("#divThink").show();
  var n=3;
   $('#www').attr('s',n);

   
})



$(".closeBtn_a").click(function(){
  $("#divThink").hide();
})


$("#box_5").click(function(){
    document.getElementById('gene_serial_5').value="";
})

$("#box_3").click(function(){
    document.getElementById('gene_serial_3').value="";
})

// alert(t);

});
  
  
  
  function check(value){
    $(function(){
      var aa = $("#www").attr("s");
      $("#box_"+aa).attr("checked","true");
       
      document.getElementById('gene_serial_'+aa).value=value;
      $("#divThink").hide();

    })
   
  }
 
  /**自动搜索开始**/
     
  /**自动搜索结束**/
</script>
 
<div id="main">
    <div class="maincon">
    <div class="order_con">
        <div class="bread b33" style="margin:16px 0 10px 0;">
            基因合成服务(<span class="xingxing"><span class="xingxing">*</span></span> 必填项)</div>
         
         <!--表单开始-->
        <form action="{:U('Gene/forms')}" method="post">
        
        <table cellspacing="0" cellpadding="0" width="100%" border="0">
            <tr>
                <td><span class="xingxing"><span class="xingxing">*</span>
                </span>基因名称：<input type="text" name="gene_name" 
                value="{$info['gene_name']}" size="30" required="required" placeholder="基因名称必填" />　点击 <a id="f66" target="_blank" href="http://www.ncbi.nlm.nih.gov">此处</a> 在NCBI上搜索序列.</td>
            </tr>
            <tr>

                <script type="application/javascript">
                /*
                */
                </script>
                <td><input type="checkbox" name="box_5" id="box_5"/> 
                    5' 端序列：<input type="text" size="50" id="gene_serial_5" class="gene_serial_5" name="gene_serial_5" value="{$info['gene_serial_5']}"/>
                    　<input type="button" id="dianji_a" class="dianji_a" name="search_enzyme"  value="点击搜索酶" >
                </td>
            </tr>
            <tr>
                <td><span class="xingxing">*</span>
    序列：<input type="radio" class="serial_a" value="1" name="gene_serial_sel"  <eq name="info['gene_serial_sel']" value="1">checked="checked"</eq> >DNA &nbsp;&nbsp;<input type="radio"  value="2" name="gene_serial_sel" class="serial_b" onclick="serial();" <eq name="info['gene_serial_sel']" value="2">checked="checked"</eq>>蛋白&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="serial_sel"></span>

                </td>
            </tr>
            <tr>
                <td><textarea name="gene_contents" style="width:986px; height:50px;" required="required" placeholder="序列内容必填">{$info['gene_contents']}</textarea></td>
            </tr>
            <tr>
                <td><input type="checkbox"  name="box_3" id="box_3"> 
                    3'  端序列：<input  type="text" 
                    name="gene_serial_3" value="{$info['gene_serial_3']}" id="gene_serial_3" class="gene_serial_3" style="width:253px;">　<input type="button" name="search_enzyme" class="dianji_b" value="点击搜索酶"></td>
            </tr>
            <tr>
                <td><strong>密码子优化：</strong> <span class="gene_seo"></span><br />
                    是否需要密码子优化 (此项免费)?<br/>
                    <input type="radio" class="password_seo" value="1" name="gene_seo"  <eq name="info['gene_seo']" value='1'>checked='checked'</eq>>是&nbsp;&nbsp;&nbsp;&nbsp;<span class="seo_edit" style="color:#3385CF;display:none;">编辑</span>
                    <br/><input type="radio" value="2" id="pwd_seo" class="pwd_seo" name="gene_seo" <eq name="info['gene_seo']" value='2'>checked="checked"</eq>>否
            </td>
            </tr>


           


             
            <tr>
                <td><strong>克隆方式：</strong></td>
            </tr>
            <tr>
                <td><input type="radio" checked="checked" />
              <select name="gene_clone_method">
                <option value="0" <eq name="info['gene_clone_method']" value='0'>selected="selected"</eq>></option>
                <option value="1"  <eq name="info['gene_clone_method']" value='1'>selected="selected"</eq>>pUC57-Amp</option>
                <option value="2" <eq name="info['gene_clone_method']" value='2'>selected="selected"</eq>>pUC57-Kana</option>
                <option value="3" <eq name="info['gene_clone_method']" value='3'>selected="selected"</eq>>pUC57-Simple</option>
                <option value="4" <eq name="info['gene_clone_method']" value='4'>selected="selected"</eq>>pUC19-Amp(短基因默认)</option>
              </select>
              克隆位点：<input type="text" name="gene_clone_site"  
              value="{$info['gene_clone_site']}"/>
              &nbsp;&nbsp;&nbsp;
              <!--
              <a id="f66" target="_blank" href="#">pUC57</a>,              
              <a id="f66" target="_blank" href="#">pUC57-Kan</a> ,
              <a id="f66" target=_blank href="#">   pUC57-Simple </a> 载体图谱
             -->
              </td>
            </tr>
            <!-- <tr>
                <td>(例如：BamHI-HindIII，EcoRV；注意：如果不填，GenScript默认选择EcoRV )</td>
            </tr> -->
            <tr>
                <td><input type="radio" value="other" onclick="b.show();" /> 其 他</td>
            </tr>
            <script type="application/javascript">
            /*
            */
            </script>
            <tr>
                <td>是否需要亚克隆:</td>
            </tr>
            <tr>
                <td>
                  <input type="radio" name="gene_other" value="1" 
                  <eq name="info['gene_other']" value='1'>checked="checked"</eq>/>是<br/>
                  <input type="radio" name="gene_other" value="2" 
                  <eq name="info['gene_other']" value='2'>checked="checked"</eq>/>否<br/>
                 <!--  <textarea name="gene_other" style="width:986px; height:50px;"></textarea>
 -->
                </td>
            </tr>
            <tr>
                <td><strong>质粒制备：</strong></td>
            </tr>
            <tr>
                <td><input type="radio" name="gene_zhili_sel"  value="1" id="b_1" <eq name="info['gene_zhili_sel']" value='1'>checked="checked"</eq> /> 准备交付: 4 μg (免费)</td>
            </tr>
            <tr>
                <td><input type="radio" name="gene_zhili_sel" value="2" id="a_1" 
                     class="zhili_sel_wh" /> 自定义质粒制备: 
                <select name="gene_zhili_content" class="gene_zhili_content">
                  <option value="0"></option>
                  <option value="1">100 μg</option>
                  <option value="2">200 μg</option>
                  <option value="3">300 μg</option>
                  <option value="4">400 ug</option>
                  <option value="5">500 ug</option>
                  
              </select></td>
            </tr>
            <tr>
                <td><span class="xingxing">*</span>模板名称: <input type="text" 
                    name="gene_zhili_name" class="gene_zhili_name" required="required" placeholder="模板名称必填"/></td>
            </tr>
            <tr>
                <td>质量级别: </td>
            </tr>
            <tr>
                <td>
    <input id=pls_grade_1 name="gene_zhili_level" class="gene_zhili_level" type="radio" 
     value="1"/>普通转化级
    <br>
      <input id=pls_grade_2 name="gene_zhili_level" class="gene_zhili_level" type="radio" value="2"/>细胞转染级(去内毒素)

      
            </tr>
           
            <tr>
                <td><strong>附加服务: </strong><br />
              GenScript提供一系列附加高端服务，价格非常优惠。<br />请从下面选择一到多个选项：</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" onclick="c.show();" 
                    name="gene_service" /> 定点突变　　　<a id="f66" href="#">编辑</a></td>
            </tr>
            
            <tr>
                <td><strong>批量订购或寻求基因合成技术支持？</strong></td>
            </tr>
            <tr>
                <td>您可以发送批量FASTA格式的基因序列到 <a id="f66" href="#"><u>order@genecreate.com</u></a>邮箱，或者电话<font id="f66">027-88189683</font><br>
        我们经验丰富的技术支持将帮助管理您的项目，从序列设计、优化、合成到克隆，无需收取任何额外收费</td>
            </tr>
            <tr align="center">
                <!-- <td><input type="button" onclick="check_data()" value="提交" name="op"></td> -->
                <td><input type="submit" onclick="" value=" 提  交 " name="op" id="op"></td>
          </tr>
        </table>

   <!--密码子优化 alert div --start -->
<div data-width="600" tabindex="-1" class="modal container hide" id="coden_opt" style="margin-left: 412px; width: 600px; left: 0px; top: 100px;border:1px solid gray;display:none;
position:relative;z-index:1000;top:-800px;">  
    <div class="modal-header">    
    <span aria-hidden="true" data-dismiss="modal" class="close_window" style="border:0px solid red;margin-right:6px;display:block;width:22px;float:right;margin-top:-1px;
        font-size:29px;" type="button">×</span>  <h3><span style="color:red;">密码子优化</span> <font class="normal">(*必填项)</font></h3>  </div> 
      <div style="max-height:400px" class="modal-body">    
        <div class="row-fluid box-father">     
          <div class="span12 box-b">
<!--[if lte IE 6.5]><iframe></iframe><![endif]-->
        <div class="closeBtn" style="display: none;"><a onclick="CloseGenepop1('divCodOpti','need_codon_no','edit_condon')">
    <img border="0" src="/gsfiles/new/images/close_btn.gif"></a>
    </div>

         
      <div id="geneMain">
      <table>
                <tbody><tr>
                    <td height="25">* 表达宿主:</td>
                    <td>
      <select name="gene_seo_host" id="host"  style="width:250px;">
<option value="Escherichia coli">Escherichia coli</option>
<option value="Yeast">Yeast</option> 
<option value="Insect">Insect</option> 
<option value="C.elegans">C.elegans</option> 
<option value="Drosophila melanogaster">Drosophila melanogaster</option> 
<option value="Human">Human</option> 
<option value="Mouse">Mouse</option> 
<option value="Rat">Rat</option> 
<option value="Pig">Pig</option> 
<option value="Pichia pastoris">Pichia pastoris</option>
<option value="Arabidopsis thaliana">Arabidopsis thaliana</option> 
<option value="Streptomyces">Streptomyces</option> 
<option value="Zea mays (Maize)">Zea mays (Maize)</option>
<option value="Nicotiana tabacum (Tobacco)">Nicotiana tabacum (Tobacco)</option> 
<option value="Saccharomyces cerevisiae (gkbln)">Saccharomyces cerevisiae (gkbln)</option> 
<option value="Cricetulus griseus (CHO)">Cricetulus griseus (CHO)</option> 
<option value="Other">Other</option> </select>
                    </td>
                    <td width="100">

                    </td>
                </tr>

            </tbody>
          </table> 
                
            <table>
                <tbody><tr>
                  <td><span name="start_grey">优化的起始位点:</span>
                  </td>
                  <td><input type="text" name="gene_seo_start" id="opt_start_position" size="5">
                  </td>
                  <td><select id="opt_start_position_unit" name="gene_start">
                <option value="bp">bp</option>
                <option value="aa">aa</option>
            </select><span name="start_grey">,</span>
                  </td>
                  <td><span name="start_grey">结束位点:</span>
                  </td>
                  <td><input type="text" name="gene_seo_end" id="opt_end_position" size="5">
                  </td>
                  <td><select id="opt_end_position_unit" name="gene_end">
                <option value="bp">bp</option>
                <option value="aa">aa</option>
            </select>
                  </td>
                </tr>
                <tr>
                <td><span name="start_grey">ORF 开始位点:</span>
                  </td>
                  <td><input type="text" name="gene_orf_start" id="orf_start_position" size="5" style=" margin-top:2px;">
                  </td>
                  <td><span name="start_grey">bp</span>
                  </td>
                  <td><span name="start_grey">结束位点:</span>
                  </td>
                  <td> <input type="text" name="gene_orf_end" id="orf_end_position" size="5">
                  </td>
                  <td><span name="start_grey">bp</span>
                  </td>
                </tr>
            </tbody></table>
      
      <table>
        <tbody><tr>
          <td>避免的酶切位点:</td><td><input type="text" name="gene_avoid_site" id="restriction_void" class="mInput" style=" margin-top:2px;">
                (例如: BamHI, HindIII(AAGCTT))<br></td>
        </tr>
        <tr>
          <td>保留的酶切位点:</td><td><input type="text" name="gene_save_site" id="restriction_keep" class="mInput" style=" margin-top:2px;">
    (例如: BamHI, HindIII(AAGCTT))</td>
        </tr>
      </tbody></table>
      是否要终止密码子优化: <br>
    &nbsp;<input id=id_002 type="radio" value="y" name="gene_seo_result" checked=""> 是.&nbsp;&nbsp;
    序列为: <input type="text" name="gene_rel_serial" id="stop_sequence" class="mInput">&nbsp;
                <!-- <span style="display:none;">Position: <input type="text" id="stop_position" class="mInput"></span> -->
                <br>
    &nbsp;<input type="radio" value="n" name="gene_seo_result"> 否<br>
      备注: <input type="text" name="gene_seo_note" id="comments" style="width:430px">
            </div>
 </div>          </div>  </div>   

                  <div class="modal-footer" style="border:0px solid red;margin:15px 0px;
                  text-align:right;">    
          <span class="error-msg tip" style="float:left;font-size:12px; color:red"></span>           
          <button class="btn close-btn" data-dismiss2="modal" type="button">取消 </button>    
          <button class="btn btn-primary ok-bnt" type="button">确定</button>  
                  &nbsp;&nbsp;&nbsp;&nbsp;
                </div>
</div>
<!--密码子优化 alert div --end -->

    

    </form>


    <!--表单结束-->
    </div>
</div>
</div>

 







<!--搜索酶开始-->
 <div class="select-free" id="divThink" 
 style="border:2px solid #636D61;width:240px;margin:-880px auto;position:relative;z-index:2000;margin-left:800px;display:none;">
        <!--[if lte IE 6.5]><iframe></iframe><![endif]-->
        <div class="closeBtn_a" style="border:0px solid red;width:18px;height:18px;float:right;
        margin-right:15px;margin-top:4px;">
        <img border="0" src="/Public/Home/images/close_btn.gif"/></div>
        <div class="title" style="color:#0057B1;font-weight:bold;border:0px solid red;width:60px;float:left;margin-left:18px;margin-top:0px;">搜索酶</div><br>

        <div id="geneMain">
          <table style="margin-top:5px;" align="center">
            <tbody>
              <tr>
                <td align="center">
                
                  <input type="text" id="wh_aa" plaecholder="123456" style="width:200px;margin:0 auto;margin-left:18px;">
                </td>
              </tr>
              <tr style="">
                <td>
                  <div style="width:200px;border:solid #000 1px;display:block;height:300px;margin-left:18px;" id="think_pop_div"> 
                   <select id="www" size="11" onchange="check(this.value);" s="" style="width:100%;font-size:18px;">
                    <option value="GACGTC">AtaII</option>
 <option value="GGTACC">Acc65I</option>
 <option value="CCGG">AciI</option>
 <option value="AAGCTT">AclI</option>
 <option value="AGCGCT">AfeI</option>
 <option value="CTTAAG">AflII</option>
 <option value="ACCGGT">AgeI</option>
 <option value="AGCT">AluI</option>
 <option value="GGGCCC">ApaI</option>
 <option value="GTGCAC">ApaLI</option>
 <option value="GGCGCGCC">AscI</option>
 <option value="ATTAAT">AseI</option>
 <option value="GCGATCGC">AsiSI</option>
 <option value="CCTAGG">AvrII</option>
 <option value="GGATCC">BamHI</option>
 <option value="CCTCAGC">BbvCI</option>
 <option value="TGATCA">BclI</option>
 <option value="CTAG">BfaI</option>
 <option value="GATC">BfuCI</option>
 <option value="AGATCT">BglII</option>
 <option value="CACGTC">BmgBI</option>
 <option value="GCTAGC">BmtI</option>
 <option value="CCCAGC">BseYI</option>
 <option value="CGTACG">BsiWI</option>
 <option value="ATCGAT">BspDI</option>
 <option value="TCCGGA">BspEI</option>
 <option value="TCATGA">BspHI</option>
 <option value="CCGCTC">BsrBI</option>
 <option value="TGTACA">BsrGI</option>
 <option value="GCGCGC">BssHII</option>
 <option value="CACGAG">BssSI</option>
 <option value="TTCGAA">BstBI</option>
 <option value="CGCG">BstUI</option>
 <option value="GTATAC">BstZ17I</option>
 <option value="ATCGAT">ClaI</option>
 <option value="CATG">CviAII</option>
 <option value="GTAC">CviQI</option>
 <option value="GATC">DpnI</option>
 <option value="GATC">DpnII</option>
 <option value="TTTAAA">DraI</option>
 <option value="CGGCCG">EagI</option>
 <option value="GAGCTC">Eco53kI</option>
 <option value="GAATTC">EcoRI</option>
 <option value="GATATC">EcoRV</option>
 <option value="CATG">FatI</option>
 <option value="GGCCGGCC">FseI</option>
 <option value="TGCGCA">FspI</option>
 <option value="GGCC">HaeIII</option>
 <option value="GCGC">HhaI</option>
 <option value="AAGCTT">HindIII</option>
 <option value="GCGC">HinP1I</option>
 <option value="GTTAAC">HpaI</option>
 <option value="CCGG">HpaII</option>
 <option value="ACGT">HpyCH4IV</option>
 <option value="TGCA">HpyCH4V</option>
 <option value="GGCGCC">KasI</option>
 <option value="GGTACC">KpnI</option>
 <option value="GATC">MboI</option>
 <option value="CAATTG">MfeI</option>
 <option value="ACGCGT">MluI</option>
 <option value="AATT">MluCI</option>
 <option value="TGGCCA">MscI</option>
 <option value="TTAA">MseI</option>
 <option value="CCGG">MspI</option>
 <option value="GCCGGC">NaeI</option>
 <option value="GGCGCC">NarI</option>
 <option value="CCATGG">NcoI</option>
 <option value="CATATG">NdeI</option>
 <option value="GCCGGC">NgoMIV</option>
 <option value="GCTAGC">NheI</option>
 <option value="CATG">NlaIII</option>
 <option value="GCGGCCGC">NotI</option>
 <option value="TCGCGA">NruI</option>
 <option value="ATGCAT">NsiI</option>
 <option value="TTAATTAA">PacI</option>
 <option value="CTCGAG">PaeR7I</option>
 <option value="ACATGT">PciI</option>
 <option value="GGCC">PhoI</option>
 <option value="GGCGCC">PluTI</option>
 <option value="GTTTAAAC">PmeI</option>
 <option value="CACGTG">PmlI</option>
 <option value="TTATAA">PsiI</option>
 <option value="GGGCCC">PspOMI</option>
 <option value="CTGCAG">PstI</option>
 <option value="CGATCG">PvuI</option>
 <option value="CAGCTG">PvuII</option>
 <option value="GTAC">RsaI</option>
 <option value="GAGCTC">SacI</option>
 <option value="CCGCGG">SacII</option>
 <option value="GTCGAC">SalI</option>
 <option value="GATC">Sau3AI</option>
 <option value="CCTGCAGG">SbfI</option>
 <option value="AGTACT">ScaI</option>
 <option value="GGCGCC">SfoI</option>
 <option value="CCCGGG">SmaI</option>
 <option value="TACGTA">SnaBI</option>
 <option value="ACGAGT">SpeI</option>
 <option value="GCATGC">SphI</option>
 <option value="AATATT">SspI</option>
 <option value="AGGCCT">StuI</option>
 <option value="ATTTAAAT">SwaI</option>
 <option value="CCCGGG">TspMI</option>
 <option value="TCTAGA">XbaI</option>
 <option value="CTCGAG">XhoI</option>
 <option value="CCCGGG">XmaI</option>
 <option value="GACGTC">ZraI</option>


                   </select>
                </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
<!--搜索酶结束-->



</body>
</html>
