 <html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>武汉金开瑞生物工程有限公司---后台管理</title>
<link href="__PUBLIC__/Consel/css/style.css" rel="stylesheet" type="text/css">
<script  src="__PUBLIC__/Consel/js/jquery.js"></script>
<script  src="__PUBLIC__/Consel/js/jquery-ui.min.js"></script>
<link href="__PUBLIC__/Consel/js/jquery-ui.min.css" rel="stylesheet" type="text/css" />
</head>
<script>
$(document).ready(function(){
	$( "#stime" ).datepicker({
		dateFormat:'yy-mm-dd'
	});
	$( "#etime" ).datepicker({
		dateFormat:'yy-mm-dd'
	});
	var p = {$page};
	var countP = {$pages};
	$('#next').click(function(){
		var dang = p + 1;
		if (p<countP){
			$('#page').val(dang);
		} else {
			$('#page').val(countP);
			return false;
		}
		$('#sequencingForm').submit();
	});
	$('#pre').click(function(){
		if (p<2) return false;
		var pdang = p - 1;
		$('#page').val(pdang);
		$('#sequencingForm').submit();
	});
	$('#select7').change(function(){
		$('#page').val($(this).val());
		$('#sequencingForm').submit();
	});
	$('#search').click(function(){
		$('#page').val('');
		$('#sequencingForm').submit();
	});
});
</script>
<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0" background="__PUBLIC__/Consel/images/hui.jpg">
	<tr>
		<td>&nbsp;</td>
	</tr>
</table>
<!-- <form id="sequencingForm" method="post" autocomplete="off" action="{:U('User/searchlist')}"> -->
<input type="hidden" name="page" id="page" value="{$page}" />
<table width="97%" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td width="100%" align="center" valign="top" bgcolor="#FFFFFF">
        	<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-bottom:#ccc solid 1px; margin-bottom:10px;">
							<tr>
								<td width="2%" height="30"><img src="__PUBLIC__/Consel/images/2_r1.jpg" /></td>
								<td width="73%" class="index-5"><span class="index-7"><font style="color:#f57e20;">{:session('admin-name')}</font>，您已登录成功！<a href="{:U('User/logout')}"  target=_top>退出</a></span></td>
								<td width="25%"><a href="http://www.jkrorder.com/index.php/Manage.html" target="top">后台主页</a>&nbsp;&nbsp;&nbsp;&nbsp;
									武汉金开瑞生物工程有限公司
								</td>
							</tr>
						</table>
				  	</td>
				</tr>
				<tr>
					<td>
                
                <form id="form_fen" action="" autocomplete="off">

                <table class="fen_list" width="100%" cellpadding="4" cellspacing="0" border="0" align="center">
				<legend><h3><center><span style="color:green;">分子生物学服务项目跟踪基本信息</span></center></h3></legend>

                	<tr>
                		<td width="38%"><label for="fen_position">地区位置：</label> 
						 
							<input type="radio"  id="fen_position_s" value="2" name="fen_position" />南
							<input type="radio"  id="fen_position_n" value="1" name="fen_position" />北
						</td>
                	</tr>
					<tr>
						 
						<td width="38%">
                         <label for="fen_name">地区名称：</label>
				         <input type="text" style="border-left:0px;border-right:0px;border-top:0px;" id="fen_name" size="45" name="fen_name" />
						</td>

						<td align="left" width="31%">
                        <label for="">销售员：</label>
                        <input type="text"  style="border-left:0px;border-right:0px;border-top:0px;" id="fen_sale" size="38" name="fen_sale"/>
						</td>

						<td width="31%"> 
                        <label for="fen_he">合&nbsp;&nbsp;同&nbsp;&nbsp;编&nbsp;&nbsp;号：</label>
                        <input type="text"  style="border-left:0px;border-right:0px;border-top:0px;" id="fen_he" size="32" name="fen_he"/>
						</td>
								
				 
			</tr>
			<tr>
				    <td>
                        <label for="fen_customer">客户单位：  </label> 
                        <input type="text"  style="border-left:0px;border-right:0px;border-top:0px;" id="fen_customer" size="45" name="fen_customer"/>       	 
                     </td>

						<td>
                         <label for="fen_contact">联系人：</label>
				         <input type="text"  style="border-left:0px;border-right:0px;border-top:0px;" id="fen_contact" size="38" name="fen_contact" />
						</td>


						<td > 
                        <label for="fen_date">预计项目周期：</label>
                        <input type="text"  style="border-left:0px;border-right:0px;border-top:0px;" id="fen_date" size="32" name="fen_date"/>
						</td>
								
				 
			</tr>
			<tr>
				<td align="left"> 
						<label for="fen_pro">项目名称：</label>	 
						<input type="text"  style="border-left:0px;border-right:0px;border-top:0px;" id="fen_pro" size="45" name="fen_pro"/>
					</td>
						<td colspan="2" align="left"> 
						<label for="fen_status">项目状态：</label>	 
					 
						<!-- <input type="file"  style="border:0px;" id="fen_report" name="fen_report"/> -->
						<select name="fen_status" id="fen_status">
							<option value="0">请选择状态</option>
							 <option value="1">正常状态</option>
							 <option value="2">停止状态</option>
							 <option value="3">延期状态</option>
							 <option value="4">准备发货状态</option>
							 <option value="5">项目结束状态</option>
						</select>

					</td>
			</tr>
			<tr>
				 
					<td  colspan="4" align="left">
                        <label for="fen_xi" style="vertical-align:top;">项目细分：</label>
                      
                        <textarea style="border:1px solid #ABCDEF;" name="fen_xi" id="fen_xi" cols="80" rows="3"></textarea>
				  </td>
 
			</tr>

			<tr>
				<td colspan="4" align="center">
					<input type="submit" style="padding:8px;background:#FF6633;color:white;font-weight:bold;font-size:16px;cursor:pointer;" onclick="" value=" 提  交 "  />
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="reset" style="padding:8px;background:#FF6633;color:white;font-weight:bold;font-size:16px;cursor:pointer;" onclick="" value=" 重  置 "  />
				</td>
			</tr>
		</table>

		</form>
					</td>
				</tr>
			</table>
			<br>
			<br>
			<!-- <br> -->
			<!-- <hr> -->
			<table width="100%" style="border-collapse:collapse;" cellpadding="0" cellspacing="0" border="1" class="bj-1">
				<legend><h3>项目跟踪情况列表</h3></legend>
				<legend style="text-align:right;"><h4>
					<a class="fen_more" href="{:U('Pro/fen_more')}" title="查看更多项目跟踪情况">点击查看更多>></a>
				</h4></legend>
				<tr>
					<td width="70"  rowspan="2" align="center" class="index-7">地&nbsp;&nbsp;&nbsp;区<br></td>
					<td width="70"   rowspan="2" align="center" class="index-7">销售员</td>
					<td width="90"  rowspan="2"  align="center" class="index-7">合同编号</td>
					<td width="200"  rowspan="2"  align="center" class="index-7">项目名称<br></td>
		            <td width="100"   colspan="2" align="center" class="index-7">客户信息</td>
		            <td width="160"  rowspan="2"  align="center" class="index-7">项目细分</td>
					<td width="87"  rowspan="2" align="center" class="index-7">预计项目周期</td>
					<td width="87"  rowspan="2" align="center" class="index-7">项目状态</td>
					<td width="87"  rowspan="2" align="center" class="index-7">最新更新时间</td>

					<td width="150"  rowspan="2" align="center" class="index-7">操&nbsp;&nbsp;&nbsp;作</td>



				</tr>
			 
				<tr>
					<td width="180" align="center" style="background:#DBDBDB;" class="bj-3 index-7">单&nbsp;&nbsp;&nbsp;位</td>
					<td width ="70" align="center" style="background:#DBDBDB;" class="bj-3 index-7">联系人</td>
					 
					 
					 
				</tr>

				<tr>
					<td  align="center" class="bj-3">呼和浩特</td>
					<td  align="center" class="bj-3">罗云</td>
					<td  align="center" class="bj-3">PG1-145001</td>
					<td  align="left" class="bj-3">rps24、USO1、BTF3基因敲降及细胞功能检测实验</td>
					<td  align="left" class="bj-3">华中科技大学文华学院生命科学研究院</td>
					<td  align="center" class="bj-3">111</td>
					<td  align="left" style="padding:0px;" class="bj-3">转染N端FLAG的质粒（包括6孔板的小试3~5次，及放大6皿的转染）</td>
					<td  align="center" class="bj-3">5周</td>
					<td  align="center" class="bj-3"><span style="color:green;">正常状态</span></td>
					<td  align="center" class="bj-3">2015-8-25</td>
				 
				 
					<td align="center" class="bj-3">
						&nbsp;
						<a href="{:U('Pro/fen_index')}">查看</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						<a href="{:U('Pro/fen_editor')}">编辑</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						 
						 <!-- &nbsp;<a href=" ">修改</a>&nbsp;&nbsp;|&nbsp;&nbsp; -->
					 
						<a href="javascript:if(confirm('您确定要删除该条信息吗？')){
						window.location='http://www.jkrorder.com/index.php/Manage/User/del?id={$userlist.id}';}">删除</a>&nbsp;
					</td>

				</tr>

				<tr>
					<td  align="center" class="bj-3">呼和浩特</td>
					<td  align="center" class="bj-3">罗云</td>
					<td  align="center" class="bj-3">PG1-145001</td>
					<td  align="left" class="bj-3">rps24、USO1、BTF3基因敲降及细胞功能检测实验</td>
					<td  align="left" class="bj-3">华中科技大学文华学院生命科学研究院</td>
					<td  align="center" class="bj-3">李晶晶</td>
					<td  align="left" class="bj-3">转染N端FLAG的质粒（包括6孔板的小试3~5次，及放大6皿的转染）</td>
					<td  align="center" class="bj-3">5周</td>
					<td  align="center" class="bj-3"><span style="color:red;">停止状态</span></td>
					<td  align="center" class="bj-3">2015-8-26</td>
				 
				 
					<td align="center" class="bj-3">
						&nbsp;
						<a href="{:U('Pro/fen_index')}">查看</a>&nbsp;&nbsp;|&nbsp;&nbsp;
							<a href="{:U('Pro/fen_editor')}">编辑</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						<!-- <br/>
						 &nbsp;<a href=" ">修改</a>&nbsp;&nbsp;|&nbsp;&nbsp; -->
					 
						<a href="javascript:if(confirm('您确定要删除该条信息吗？')){
						window.location='http://www.jkrorder.com/index.php/Manage/User/del?id={$userlist.id}';}">删除</a>&nbsp; 
					</td>

				</tr>

				<tr>
					<td  align="center" class="bj-3">呼和浩特</td>
					<td  align="center" class="bj-3">罗云</td>
					<td  align="center" class="bj-3">PG1-145001</td>
					<td  align="left" class="bj-3">rps24、USO1、BTF3基因敲降及细胞功能检测实验</td>
					<td  align="left" class="bj-3">华中科技大学文华学院生命科学研究院</td>
					<td  align="center" class="bj-3">111</td>
					<td  align="left" class="bj-3">转染N端FLAG的质粒（包括6孔板的小试3~5次，及放大6皿的转染）</td>
					<td  align="center" class="bj-3">5周</td>
					<td  align="center" class="bj-3">准备发货状态</td>
					<td  align="center" class="bj-3">2015-8-26</td>
				 
				 
					<td align="center" class="bj-3">
						 &nbsp;
						<a href="{:U('Pro/fen_index')}">查看</a>&nbsp;&nbsp;|&nbsp;&nbsp;
					 	<a href="{:U('Pro/fen_editor')}">编辑</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						<!-- <br/>
						 &nbsp;<a href=" ">修改</a>&nbsp;&nbsp;|&nbsp;&nbsp; -->
					 
						<a href="javascript:if(confirm('您确定要删除该条信息吗？')){
						window.location='http://www.jkrorder.com/index.php/Manage/User/del?id={$userlist.id}';}">删除</a>&nbsp;
					</td>

				</tr>
			 
				 

				<!-- <tr style="border:0px;">
					<td style="border-left:1px solid white;border-right:1px solid white;" rowspan="2" align="center" colspan="11" class="bj-3">
						<br/>
						<a class="fen_more" href="{:U('Pro/fen_more')}" title="查看更多项目跟踪情况">点击查看更多>></a>
					</td>
				</tr> -->
				 
			</table>
			<br/>
			<br/>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" style="display:none;">
				<tr>
					<td>
                    	<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#F9F9F9" class="index-3">
							<tr>
								<td width="300" align="center" class="bj-3">&nbsp;</td>
								<td width="410" align="left" class="bj-3">
									<button  style="cursor:pointer;" onclick="javascript:window.location.history.back();">   返回上一步  </button>
									 
								</td>
								<td width="190" align="center" class="bj-3">共{$pages}页&nbsp;&nbsp;<img id="pre" title="上一页" src="__PUBLIC__/Consel/images/2_r2.jpg" width="15" height="15">&nbsp;&nbsp;
									<img id="next" title="下一页" src="__PUBLIC__/Consel/images/2_r1.jpg" width="15" height="15">&nbsp;&nbsp;
								<select id="select7" name="select7" class="index-12">
                                  <option value="">跳转</option>
                                  <for start="1" end="$pages+1" name="pageNum" >
								  <option value="{$pageNum}">{$pageNum}</option>
								  </for>
                                </select>
								页</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<!-- </form> -->
</body>
<style type="text/css">
	#search{
		cursor:pointer;
	}
	#select7{
		cursor:pointer;
	}
	#pre{
		cursor:pointer;
	}
	#next{
		cursor:pointer;
	}
	input{
		border:1px solid #ABCDEF;
	}
	.fen_more:hover{
		color:red;
	}
	 
</style>

</html>