  <html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>武汉金开瑞生物工程有限公司---后台管理</title>
<link href="__PUBLIC__/Consel/css/style.css" rel="stylesheet" type="text/css">
<script  src="__PUBLIC__/Consel/js/jquery.js"></script>
<!-- <script  src="__PUBLIC__/Consel/js/jquery-ui.min.js"></script>
<link href="__PUBLIC__/Consel/js/jquery-ui.min.css" rel="stylesheet" type="text/css" /> -->
</head>
<script>
// $(document).ready(function(){
//     $( "#stime" ).datepicker({
//         dateFormat:'yy-mm-dd'
//     });
//     $( "#etime" ).datepicker({
//         dateFormat:'yy-mm-dd'
//     });
//     var p = {$page};
//     var countP = {$pages};
//     $('#next').click(function(){
//         var dang = p + 1;
//         if (p<countP){
//             $('#page').val(dang);
//         } else {
//             $('#page').val(countP);
//             return false;
//         }
//         $('#sequencingForm').submit();
//     });
//     $('#pre').click(function(){
//         if (p<2) return false;
//         var pdang = p - 1;
//         $('#page').val(pdang);
//         $('#sequencingForm').submit();
//     });
//     $('#select7').change(function(){
//         $('#page').val($(this).val());
//         $('#sequencingForm').submit();
//     });
//     $('#search').click(function(){
//         $('#page').val('');
//         $('#sequencingForm').submit();
//     });
// });
</script>
<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0" background="__PUBLIC__/Consel/images/hui.jpg">
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>
<!-- <form id="sequencingForm" method="post" autocomplete="off" action="{:U('User/searchlist')}"> -->
<input type="hidden" name="page" id="page" value="{$page}" />
<table width="97%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td width="100%" align="center" valign="top" bgcolor="#FFFFFF">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-bottom:#ccc solid 1px; margin-bottom:10px;">
                            <tr>
                                <td width="2%" height="30"><img src="__PUBLIC__/Consel/images/2_r1.jpg" /></td>
                                <td width="73%" class="index-5"><span class="index-7"><font style="color:#f57e20;">{:session('admin-name')}</font>，您已登录成功！<a href="{:U('User/logout')}"  target=_top>退出</a></span></td>
                                <td width="25%"><a href="http://www.jkrorder.com/index.php/Manage.html" target="top">后台主页</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    武汉金开瑞生物工程有限公司
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>

                
                    </td>
                </tr>
            </table>
           <!--  <br>
            <br> -->
            <!-- <br> -->
            <!-- <hr> -->
             <!-- <table width="100%" style="border-collapse:collapse;" cellpadding="4" cellspacing="0" border="1" class="bj-1">
                <legend><h3><span style="color:green;">分子生物学服务项目跟踪基本信息</span></h3></legend>
                <tr>
                    <td width="70"  rowspan="2" align="center" class="index-7">地&nbsp;&nbsp;&nbsp;区<br></td>
                    <td width="70"   rowspan="2" align="center" class="index-7">销售员</td>
                    <td width="90"  rowspan="2"  align="center" class="index-7">合同编号</td>
                    <td width="200"  rowspan="2"  align="center" class="index-7">项目名称<br></td>
                    <td width="100"   colspan="2" align="center" class="index-7">客户信息</td>
                    <td width="160"  rowspan="2"  align="center" class="index-7">项目细分</td>
                    <td width="87"  rowspan="2" align="center" class="index-7">预计项目周期</td>
                    <td width="80"  rowspan="2" align="center" class="index-7">合同期限</td>
                    <td width="87"  rowspan="2" align="center" class="index-7">项目状态</td>
                    <td width="87"  rowspan="2" align="center" class="index-7">最新更新时间</td>

                   

                </tr>
             
                <tr>
                    <td width="180" align="center" style="background:#DBDBDB;" class="bj-3 index-7">单&nbsp;&nbsp;&nbsp;位</td>
                    <td width ="70" align="center" style="background:#DBDBDB;" class="bj-3 index-7">联系人</td>
                     
                     
                     
                </tr>

                <tr>
                    <td  align="center" class="bj-3"> 
                    {$fen_info['fen_name']}
                    </td>
                    <td  align="center" class="bj-3"> 
                    {$fen_info['fen_sale']}
                    </td>
                    <td  align="center" class="bj-3">
                       {$fen_info['fen_he']}
                    </td>
                    <td  align="left" class="bj-3">
                      {$fen_info['fen_pro']}
                    </td>
                    <td  align="left" class="bj-3">
                       {$fen_info['fen_customer']}
                    </td>
                    <td  align="center" class="bj-3"> 
                       {$fen_info['fen_contact']}                     
                    </td>
                    <td  align="left" style="padding:0px;" class="bj-3"> 
                      {$fen_info['fen_xi']} 
                    </td>
                    <td  align="center" class="bj-3">
                       {$fen_info['fen_date']} 
                    </td>
                    <td  align="center" class="bj-3">
                        {$fen_info['fen_date_xian']}
                        
                    </td>
                    <td  align="center" class="bj-3"><span style="color:green;">
                         {$fen_info['fen_status']|pro_status} 
                    </span></td>
                    <td  align="center" class="bj-3">
                        {$fen_info['addtime']|date="Y-m-d",###} 
                    </td>                   
                </tr>

              </table>
               -->

               <table class="fen_list" width="100%" cellpadding="4" cellspacing="0" border="0" align="center">
                <legend><h3><center><span style="color:green;">

                       <eq name="type" value="1">
                      综合服务
                    </eq>
                     <eq name="type" value="2">
                      蛋白组学
                    </eq>
                     <eq name="type" value="3">
                      蛋白及抗体
                    </eq>
                     <eq name="type" value="4">
                      分子生物学服务
                    </eq>
                     <eq name="type" value="5">
                      病毒包装及检测服务
                    </eq>
                     <eq name="type" value="6">
                      小分子抗原及ElisA开发
                    </eq>项目跟踪基本信息

                </span></center></h3></legend>
                    <input type="hidden" name="hid_id" value="{$fen_info.id}" />

                    <tr>
                        <td width="38%"><label for="fen_position">地区位置：</label> 
                         
                        <input type="radio"  id="fen_position_s" value="1" name="fen_position" disabled 
                        <eq name="fen_info['fen_position']" value="1">checked</eq>/>南
                            <input type="radio"  id="fen_position_n" value="2" name="fen_position" disabled
                            <eq name="fen_info['fen_position']" value="2">checked</eq>/>北
                        </td>
                    </tr>

                    <tr>
                         
                        <td width="38%">
                         <label for="fen_name">地区名称：</label>
                         <input type="text" style="border-left:0px;border-right:0px;border-top:0px;" id="fen_name" size="45" name="fen_name" value="{$fen_info.fen_name}" readonly/>
                        </td>

                        <td align="left" width="31%">
                        <label for="">销售员：</label>
                        <input type="text"  style="border-left:0px;border-right:0px;border-top:0px;" id="fen_sale" size="38" name="fen_sale" value="{$fen_info.fen_sale}" readonly/>
                        </td>

                        <td width="31%"> 
                        <label for="fen_he">合&nbsp;&nbsp;同&nbsp;&nbsp;编&nbsp;&nbsp;号：</label>
                        <input type="text"  style="border-left:0px;border-right:0px;border-top:0px;" id="fen_he" size="32" name="fen_he" value="{$fen_info.fen_he}" readonly/>
                        </td>
                                
                 
            </tr>
            <tr>
                    <td>
                        <label for="fen_customer">客户单位：  </label> 
                        <input type="text"  style="border-left:0px;border-right:0px;border-top:0px;" id="fen_customer" size="45" name="fen_customer" value="{$fen_info.fen_customer}" readonly/>           
                     </td>

                        <td>
                         <label for="fen_contact">联系人：</label>
                         <input type="text"  style="border-left:0px;border-right:0px;border-top:0px;" id="fen_contact" size="38" name="fen_contact" value="{$fen_info.fen_contact}" readonly/>
                        </td>


                        <td > 
                        <label for="fen_date_xian">合&nbsp;&nbsp;同&nbsp;&nbsp;期&nbsp;&nbsp;限：</label>
                        <input type="text"  style="border-left:0px;border-right:0px;border-top:0px;" id="fen_date_xian" size="32" name="fen_date_fen" disabled value="{$fen_info.fen_date_xian}"/>
                        </td>
                                
                 
            </tr>
            <tr>
                <td align="left"> 
                        <label for="fen_Email">客户Email：</label>   
                        <input type="text"  style="border-left:0px;border-right:0px;border-top:0px;" id="fen_Email" size="45" name="fen_Email" value="{$fen_info.fen_email}" readonly/>
                    </td>
                        <td align="left"> 
                        <label for="fen_pi">实验室负责人：</label>    
                                   
                        <input type="text"  style="border-left:0px;border-right:0px;border-top:0px;" id="fen_pi" size="33" name="fen_pi" value="{$fen_info.fen_pi}" readonly/>
                    </td>

                    <td > 
                        <label for="fen_date">预计项目周期：</label>
                        <input type="text"  style="border-left:0px;border-right:0px;border-top:0px;" id="fen_date" size="32" name="fen_date"  value="{$fen_info.fen_date}" readonly/>
                    </td>
            </tr>
            <tr>
                <td align="left"> 
                        <label for="fen_pro">项目名称：</label>   
                        <input type="text"  style="border-left:0px;border-right:0px;border-top:0px;" id="fen_pro" size="45" name="fen_pro" value="{$fen_info.fen_pro}" readonly/>
                    </td>
                        <td align="left"> 
                        <label for="fen_status">项目状态：</label>    
                     
                        
                        <select name="fen_status" id="fen_status" disabled>
                             <option value="0" <eq name="fen_info.fen_status" value="0">selected</eq>>请选择状态</option>
                             <option value="1" <eq name="fen_info.fen_status" value="1">selected</eq>>正常状态</option>
                             <option value="2" <eq name="fen_info.fen_status" value="2">selected</eq>>停止状态</option>
                             <option value="3" <eq name="fen_info.fen_status" value="3">selected</eq>>延期状态</option>
                             <option value="4" <eq name="fen_info.fen_status" value="4">selected</eq>>准备发货状态</option>
                             <option value="5" <eq name="fen_info.fen_status" value="5">selected</eq>>项目结束状态</option>
                        </select>

                    </td>

                     <td > 
                         <label for="fen_he_money">合&nbsp;&nbsp;同&nbsp;&nbsp;总金额：</label>    
                        <input type="text"   style="border-left:0px;border-right:0px;border-top:0px;" 
                        id="fen_he_money" size="32" name="fen_he_money" value="{$fen_info.fen_he_money}" placeholder="只填数字即可" disabled/>
                    </td>


            </tr>

             <tr>
                <td align="left">
                     <label for="fen_money">预付款情况：</label>
                       <input type="text"   style="border-left:0px;border-right:0px;border-top:0px;" 
                        id="fen_money" size="44" name="fen_money" value="{$fen_info.fen_money}" placeholder="" disabled/> 
                </td>
            </tr>

            <tr>
                 
                    <td  colspan="4" align="left">
                        <label for="fen_xi" style="vertical-align:top;">项目细分：</label>
                      
                        <textarea style="border:1px solid #ABCDEF;" name="fen_xi" id="fen_xi" cols="120" rows="2" readonly>{$fen_info.fen_xi}</textarea>
                  </td>
 
            </tr>

         <!--    <tr>
                <td colspan="4" align="center">
                    <input type="submit" style="padding:5px;background:#FF6633;color:white;font-weight:normal;font-size:12px;cursor:pointer;" onclick="" value=" 修  改 "  />
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="reset" style="padding:5px;background:#FF6633;color:white;font-weight:normal;font-size:12px;cursor:pointer;" onclick="" value=" 取  消 "  />
                </td>
            </tr> -->
        </table>
              <br>
              <br>  
               <!-- 新增预付款详情开始 -->
          <table width="100%" style="border-collapse:collapse;margin-bottom:50px;" cellpadding="4" cellspacing="0" border="1" class="bj-1" id="fen_jieduan_table">
                <legend><h3>金开瑞{$fen_info.fen_he}服务—实验阶段付款情况</h3></legend>

                 <!--    <input type="hidden" name="fen_guan_id" value="{$fen_info.id}" />
                    <input type="hidden" name="trace_pro_id" value="{$trace_pro_id}" /> -->
                <tr>
                    <td colspan="3">
                        <!-- test -->
                        <div style="text-align:center;width:100%;">合同 总金额:<span style="color:red;font-style:italic;">{$fen_info.fen_he_money}元</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        预付款情况:<span style="color:red;font-style:italic;">{$fen_info.fen_money}</span>
                       </div>
                    </td>
                </tr>   
                   
                <tr class="jieduan_header">
                    <!-- <td width="140" align="center" class="bj-3">编号</td> -->
                    <td align="center" class="bj-3">
                     项目阶段付款日期
                    </td>

                    <td align="center"  class="bj-3">项目阶段付款数目(单位：元)</td>

                   

                </tr>
                
                <foreach name="jieduan_list" item="rows">
                   <tr class="jieduan_content">
                    <!-- <td width="140" align="center" class="bj-3">1</td> -->
                    <td align="center" class="bj-3">
                        {$rows.jieduan_date|date="Y-m-d",###}
                    </td>

                    <td align="center"  class="bj-3">

                        {$rows.jieduan_money}
                    </td>

                     
                  </tr>
                </foreach>
                  
                  <!--  <tr>
                    <td    align="center" class="bj-3">
                     使用说明：
                    </td>
                    <td colspan="2"   align="left" class="bj-3">
                        <br/>
                       a.若要编辑某个<span style="color:red;font-style:italic;">"项目阶段付款日期"</span>或者<span style="color:red;font-style:italic;">"项目阶段付款数目"</span>时，只需要在当前的列表中直接修改，修改完后，单击操作中对应的<span style="color:red;font-style:italic;">"编辑"</span>即可。
                       <br/>
                       b.若要删除某一列，只需单击操作中对应的<span style="color:red;font-style:italic;">"删除"</span>即可。
                    </td>
                  </tr> -->

                    
    
       </table>
           <!-- 新增预付款详情结束 -->
        <!-- <br/> -->
        <br/>

        <table width="100%" style="border-collapse:collapse;" cellpadding="4" cellspacing="0" border="1" class="bj-1">
                <legend><h3>金开瑞{$fen_info['fen_he']}服务项目任务跟进单</h3></legend>
                <tr>
                    <td width="140" align="center" class="bj-3">项目编号</td>
                    <td align="center" width="420" class="bj-3">{$fen_info['fen_he']}</td>
                    <td align="center" class="bj-3">子项目负责人</td>
                    <td align="center" class="bj-3">{$fen_arr['fen_pro_man']}</td>
                </tr>
                 <tr>
                    <td align="center" class="bj-3">项目名称</td>
                    <td align="left" colspan="3" class="bj-3">{$fen_info.fen_pro}</td>
                   
                </tr>
                 <tr>
                    <td align="center" class="bj-3">项目简介</td>
                    <td align="left" colspan="3" class="bj-3">{$fen_arr['fen_pro_js']}</td>
                   
                </tr>
                 <tr>
                    <td align="center" class="bj-3">样品信息说明</td>
                    <td align="left" colspan="3" class="bj-3">{$fen_arr['fen_pro_sm']}</td>
                   
                </tr>

                 <tr>
                    <td width="140" align="center" class="bj-3">样品接收时间(启动时间)</td>
                    <td align="left" class="bj-3">
                        <!-- PB1-1508005 -->
                        {$fen_arr['fen_pro_date']}
                    </td>
                    <td align="center" class="bj-3">样品说明</td>
                    <td align="left" class="bj-3">
                       {$fen_arr['fen_pro_ys']}
                      <!-- <textarea name="" id="" cols="30" rows="2"> -->

                    </td>
                </tr>

                <!--  <tr>
                    <td align="center" class="bj-3">样品验收时间及说明</td>
                    <td align="center" colspan="3" class="bj-3"></td>
                  
                </tr> -->
                <foreach name="pro_arr" item="fen_row" >
            
            
               <tr class="pro_add">
                      
                      <input type="hidden" name="trace_hid_id" value="{$fen_arr['id']}" disabled/>



                    <td align="center" width="140" class="bj-3">
                        项目进度（第{$fen_row[0]?$fen_row[0]:1|get_status}周）
                    

                       <input type="hidden" name="hide_status" value="{$fen_row['status']?$fen_row['status']:1}">
                    </td>

                    <td align="left" width="250" class="bj-3"> 

<textarea style="border:0px;"  name="" id="" cols="50" rows="6" readonly>{$fen_row[0]|get_content}</textarea>
                    </td>
                    <!-- 相关文件上传 -->
                    <td align="center" width="150" class="bj-3">
                       相关文件信息
                     
                    </td>

                    <td class="pro_picture" style="text-align:justify;" class="bj-3">
                        <span><h4><center>点击(缩略图,文件)查看详情</center></h5></span>
                        
                         {$fen_row[0]|get_file}

                                                 
                    </td>
                </tr>
                
                 </foreach> 

                
             
                
                
               <tr>
                <td align="center" colspan="4">
                    <br>
                    <button id="fen_index" onclick="flag();" style="padding:8px;background:#FF6633;color:white;font-weight:bold;font-size:16px;cursor:pointer;">返回上一步</button>
                </td>
                
               </tr>

               
                 
            </table>
            <br/>
            <br/>
           
        </td>
    </tr>
</table>
<!-- </form> -->
</body>
<style type="text/css">
    #search{
        cursor:pointer;
    }
    #select7{
        cursor:pointer;
    }
    #pre{
        cursor:pointer;
    }
    #next{
        cursor:pointer;
    }
    input{
        border:1px solid #ABCDEF;
    }
    .fen_more:hover{
        color:red;
    }
</style>
<script>
    // $(function(){
        // alert('aa');
        // $("#fen_index").click(function(){
            // window.location='{:U("Pro/fen_more")}';
            // window.history.back();
            // http = <?php echo $_SERVER["HTTP_REFERER"];?> ;
            // alert(http);
            // alert({$flag});
            // aaa = 'aaaaaaa';
            // alert(aaa);
            // if(aaa == ''){
              // window.location.href="{:U('Pro/fen_editor',array('id'=>$id))}";
              // window.history.back();

              
    //         }else{
    //           alert('aaa');
    //         }
    //     })
    // })
  function flag(){
    // alert('xx');
    xx = "<?php echo $flag;?>";
    // alert(xx);
    if(xx == 'flag'){
     window.location = "{:U('Pro/fen_editor',array('id'=>$id))}";
    }else{
    window.history.back();
    }
  }
</script>


</html>