<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>武汉金开瑞生物工程有限公司---后台管理</title>
 <link href="__PUBLIC__/Consel/css/style.css" rel="stylesheet" type="text/css">

<script  src="__PUBLIC__/Consel/js/jquery.js"></script>
<script  src="__PUBLIC__/Consel/js/jquery-ui.min.js"></script>

<link href="__PUBLIC__/Consel/js/jquery-ui.min.css" rel="stylesheet" type="text/css" />
</head>
 <style>
	#search{
		cursor:pointer;
	}
	#select7{
		cursor:pointer;
	}
	#next{
		cursor:pointer;
	}
	#pre{
		cursor:pointer;
	}
</style>
<script>
$(document).ready(function(){
	$( "#stime" ).datepicker({
		dateFormat:'yy-mm-dd'
	});
	$( "#etime" ).datepicker({
		dateFormat:'yy-mm-dd'
	});
	var p = {$page};
	var countP = {$pages};
	$('#next').click(function(){
		var dang = p + 1;
		if (p<countP){
			$('#page').val(dang);
		} else {
			$('#page').val(countP);
			return false;
		}
		$('#sequencingForm').submit();
	});
	$('#pre').click(function(){
		if (p<2) return false;
		var pdang = p - 1;
		$('#page').val(pdang);
		$('#sequencingForm').submit();
	});
	$('#select7').change(function(){
		$('#page').val($(this).val());
		$('#sequencingForm').submit();
	});
	$('#search').click(function(){
		$('#page').val('');
		$('#sequencingForm').submit();
	});
});
</script>
<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0" 
background="__PUBLIC__/Consel/images/hui.jpg">
	<tr>
		<td>&nbsp;</td>
	</tr>
</table>
<form id="sequencingForm" method="post" action="{:U('gene/index')}">
<input type="hidden" name="page" id="page" value="{$page}" />
<table width="97%" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td width="100%" align="center" valign="top" bgcolor="#FFFFFF">
        	<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-bottom:#ccc solid 1px; margin-bottom:10px;">
							<tr>
								<td width="2%" height="30"><img src="__PUBLIC__/Consel/images/2_r1.jpg" /></td>
								<td width="73%" class="index-5"><span class="index-7"><font style="color:#f57e20;">{:session('admin-name')}</font>，您已登录成功！<a href="{:U('User/logout')}"  target=_top>退出</a></span></td>
								<td width="25%"><a href="http://www.jkrorder.com/index.php/Manage.html" target="top">后台主页</a>&nbsp;&nbsp;&nbsp;&nbsp;
									武汉金开瑞生物工程有限公司
								</td>
							</tr>
						</table>
				  	</td>
				</tr>
				<tr>
					<td>
                    	<table width="100%" cellpadding="4" cellspacing="0" border="0" align="center">
							<tr>
						<td>客户姓名：<input type="text" name="customer" value="{$customer}"/></td>		
						<td width="11%" align="right">订单号：</td>
						<td width="15%"><input type="text" name="code" value="{$code}" /></td>
								<td width="47%" align="left">时间：
								<input type="text" id="stime" name="stime" value="{$stime}" /> - <input id="etime" type="text" name="etime" value="{$etime}" />
								</td>
                                <td><img id="search" src="__PUBLIC__/Consel/images/query_btn.gif" /></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table width="100%" cellpadding="0" cellspacing="1" border="0" class="bj-1">
				<tr align="center">
					 <td>下单时间</td>
	<td>订单号</td>
	<td>客户姓名</td>
	<td>客户邮件</td>
	<td>客户电话</td>
	<td>订单状态</td>
	<td>订单提交方式</td>
	<td>订单查看</td>
	<td>订单文件下载</td>
	<td>相关文件上传</td>
	<td>消息与留言</td>
				</tr>
				<foreach name="orderList" item="ORDERS">
				<!-- <tr>
					<td align="center" class="bj-3">{$orderList.addtime|date='Y-m-d',###}</td>
					<td align="center" class="bj-3">{$orderList.uid|getClientName}</td>
					<td align="center" class="bj-3">{$orderList.uid|getClientPhone}</td>
					<td align="center" class="bj-3">{$orderList.code}</td>
					<td align="center" class="bj-3">{$orderList.num_yinwu}</td>
					<td align="center" class="bj-3">{$orderList.status|showOrderStatus}</td>
					<td align="center" class="bj-3"><a href="{:U('gene/show','id='.$orderList['id'])}">查看</a></td>
				</tr> -->

				<tr align="center">
	<td>{$ORDERS.addtime|date='Y-m-d/H:i:s',###}</td><td>{$ORDERS.code}</td>
	<td>{$ORDERS.uid|getClientName}</td>
	<td>{$ORDERS.uid|getClientEmail}</td>
	<td>{$ORDERS.uid|getClientPhone}</td>
	<td>{$ORDERS.status|showOrderStatus}</td>
	<td>
			<empty name="ORDERS.excelurl"  > 
   		在线填写
    <else />
    上传excel表单
   </empty>
	</td>
	<td><a href="{:U('Gene/show','id='.$ORDERS['id'])}" title="点击查看详情">详情</a></td>
	<td> 
		<a title="点击下载Excel文件" href="javascript:void();"
		 onclick="javascript:window.location='http://192.168.1.115/test/jiyin.php?id={$ORDERS.id}';">下载</a>
	</td>
	<td> 
        <empty name="ORDERS.jia">
            未上传
		  	<else />
             已上传
		  </empty>	
	</td>
	<td>
		 
		<eq name="ORDERS.id|getStatus" value="1">
			 
<a href="{:U('Gene/ask','id='.$ORDERS['id'])}" title="点击查看详情" style="color:red;">新消息</a>
		 
	</eq>   
	<eq name="ORDERS.id|getStatus" value="2">
		<a href="{:U('Gene/ask','id='.$ORDERS['id'])}" title="点击查看详情">暂无消息</a>
    </eq>
	<eq name="ORDERS.id|getStatus" value="">
		 <a href="{:U('Gene/ask','id='.$ORDERS['id'])}" title="点击查看详情">暂无消息</a>
	</eq>

	</td>
</tr>
				</foreach>
			</table>
			<br/>
			<br/>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td>
                    	<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#F9F9F9" class="index-3">
							<tr>
								<td width="300" align="center" class="bj-3">&nbsp;</td>
								<td width="410" align="center" class="bj-3"> 
                          <!--  <button  style="cursor:pointer;" onclick="javascript:window.location.history.back();"> 返回上一步  </button> -->
								</td>
								<td width="190" align="center" class="bj-3">共{$pages}页&nbsp;&nbsp;<img id="pre" title="上一页" src="__PUBLIC__/Consel/images/2_r2.jpg" width="15" height="15">&nbsp;&nbsp;
									<img id="next" title="下一页" src="__PUBLIC__/Consel/images/2_r1.jpg" width="15" height="15">&nbsp;&nbsp;
								<select id="select7" name="select7" class="index-12">
                                  <option value="">跳转</option>
                                  <for start="1" end="$pages+1" name="pageNum" >
								  <option value="{$pageNum}">{$pageNum}</option>
								  </for>
                                </select>
								页</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</form>
</body>
<style type="text/css">
	/*#search{
		cursor:pointer;
	}
	#select7{
		cursor:pointer;
	}
	#pre{
		cursor:pointer;
	}
	#next{
		cursor:pointer;
	}*/
</style>
</html>