 <include file="Index/header" />
 
<style type="text/css">
    #op:hover{
      cursor:pointer;
      color:red;
    }
    .xingxing{
        color:red;
    }
    .dianji:hover{
        cursor:pointer;
        color:red;
    }
    .Submit:hover{
        cursor:pointer;
        color:red;
    }
   /* table,tr,td{
      border:1px solid black;
    }*/


</style>
<div id="main">
    <div class="maincon">
    <div class="order_con">
        
         <!--表单开始-->
        <form action="{:U('Clone/forms_do')}" method="post" name="form1" enctype="multipart/form-data">
              
        <table cellspacing="0" cellpadding="0" width="100%" border="1">
            <legend>PCR克隆及亚克隆(<span class="xingxing">*</span>必填项)</legend>

            <foreach name="cloneinfo" item="info" >

              <tr>
                <td colspan="6">订单号：<span class="xingxing">{$orderInfo['code']}  </span>订单确认 （确认后订单不可再编辑，请仔细填写订单信息）</td>
              </tr>


            <tr align="center" style="background:gray;">
                <td><span class="xingxing">*</span>插入片段名称</td>
                <td><span class="xingxing">*</span>克隆位点</td>
                <td><span class="xingxing">*</span>插入序列</td>
                <td><span class="xingxing">*</span>载体名称</td>
               
                
                 
            </tr>

            <tr align="center">
                 <input type="hidden" name="clone_id" value="{$info['id']}">
                <td><input type="text" size="30" 
                name="clone_title" required="required" placeholder="请填写片段名称" 
                value="{$info['clone_title']}" /></td>

                <td><input type="text" 
                  size="30" name="clone_site" value="{$info['clone_site']}" required="required" placeholder="请填写克隆位点"/> </td>

                <td style=""><textarea name="clone_serial"  required="required" placeholder="请填写插入序列" style="">{$info['clone_serial']}</textarea>
                </td>

                <td style="border:0px solid red;">
                  <select name="clone_name" style=" margin-top:2px; width:186px;" required="required">
                        <option value="0" <eq name="info['clone_name']" value="0">selected="selected"</eq>></option>
                        <option value="1" <eq name="info['clone_name']" value="1">selected="selected"</eq>>pBC</option>
                        <option value="2" <eq name="info['clone_name']" value="2">selected="selected"</eq>>pBC-SK+</option>
                        <option value="3" <eq name="info['clone_name']" value="3">selected="selected"</eq>>pBluescript II KS+</option> 
                        <option value="4" <eq name="info['clone_name']" value="4">selected="selected"</eq>>pCEP4</option>
                        <option value="5" <eq name="info['clone_name']" value="5">selected="selected"</eq>>pCMV-Myc</option>
                        <option value="6" <eq name="info['clone_name']" value="6">selected="selected"</eq>>pCR2.1</option> 
   
                        <option value="7" <eq name="info['clone_name']" value="7">selected="selected"</eq>>Other</option>
                    </select>
                </td>
              
                
            </tr>

            <tr align="center">
                <td><span class="xingxing">*</span>载体大小</td>
                <td><span class="xingxing">*</span>抗 性</td>
                <td><span class="xingxing">*</span>拷贝数</td>
                <td>载体序列</td>
               
               
            </tr>

            <tr align="center">
                <td><input type="text" name="clone_size" value="{$info['clone_size']}" required="required" placeholder="请填写载体的大小" /></td>
                <td> 
                  <select name="clone_kangxing" required="required">
                    <option value="0" <eq name="info['clone_kangxing']" value="0">selected="selected"</eq>></option>
                    <option value="1" <eq name="info['clone_kangxing']" value="1">selected="selected"</eq>>Ampicillin</option> 
                   <option value="2" <eq name="info['clone_kangxing']" value="2">selected="selected"</eq>>Blasticidin</option>
                   <option value="3" <eq name="info['clone_kangxing']" value="3">selected="selected"</eq>>Chloramphenicol</option>
                   <option value="4" <eq name="info['clone_kangxing']" value="4">selected="selected"</eq>>Clarithromycin</option>
                   <option value="5" <eq name="info['clone_kangxing']" value="5">selected="selected"</eq>>Kanamycin</option>
                   <option value="6" <eq name="info['clone_kangxing']" value="6">selected="selected"</eq>>Streptomycin</option>
                   <option value="7" <eq name="info['clone_kangxing']" value="7">selected="selected"</eq>>Tetracyclin</option> 
                   <option value="8" <eq name="info['clone_kangxing']" value="8">selected="selected"</eq>>Other</option>
           </select>
  </td>
                <td><input type="radio" value="1" onClick="" name="clone_copy" 
                  <eq name="info['clone_copy']" value="1">checked="checked"</eq>>高　　　　
                  <input type="radio" value="2"  onClick="" name="clone_copy"
                   <eq name="info['clone_copy']" value="2">checked="checked"</eq>>低
                </td>
                <td><input type="text" size="" name="clone_serial_a" 
                  value="{$info['clone_serial_a']}" /></td>
                
            </tr>


            <tr align="center">
                
                <td>载体图谱</td>
                <td>目标插入序列名称</td>
                <td>克隆方法：克隆位点</td>
                <td><span class="xingxing">*</span>目标载体</td>
               
                
            </tr>

            <tr align="center">
                
               
                <td><input type="file" name="clone_file" value="{$info['clone_file']}"/>{$info['clone_file']}</td>
                <td><input type="text" size="30" name="clone_zhili_title" value="{$info['clone_zhili_title']}" /</td>
                <td><input type="text" size="30" name="clone_zhili_way" value="{$info['clone_zhili_way']}" required="required" placeholder="请填写质粒克隆位点" /></td>
                <td>
                  <input type="radio" value="1"  name="clone_zaiti" 
                    <eq name="info['clone_zaiti']" value="1">checked="checked"</eq>>与模板相同
                  <input type="radio" value="2"  name="clone_zaiti"    
                  <eq name="info['clone_zaiti']" value="2">checked="checked"</eq>>其 他
                </td>
                 
            </tr>

            <tr align="center">
              <td><span class="xingxing">*</span>载体名称</td>
              <td><span class="xingxing">*</span>载体大小bp</td>
              <td><span class="xingxing">*</span>抗性</td>
              <td><span class="xingxing">*</span>拷贝数</td>
            </tr>

              <tr align="center">
              <td> 
                <select onchange="vector_name_changed(this,'vector_other_2','TI_v_size','Resistence_select_TI','TI_V_seq','TI_V_file_file','TI_V_file_upload','cp_num_tgt_1','cp_num_tgt_2')" style=" margin-top:2px;width:186px;" name="clone_zaiti_name">
             <option value="0" <eq name="info['clone_zaiti_name']" value="0">selected="selected"</eq>></option>
             <option value="1" <eq name="info['clone_zaiti_name']" value="1">selected="selected"</eq>>pBC-SK+</option>
             <option value="2" <eq name="info['clone_zaiti_name']" value="2">selected="selected"</eq>>
                pBluescript II KS+</option> 
             <option value="3" <eq name="info['clone_zaiti_name']" value="3">selected="selected"</eq>>pCEP4</option>
             <option value="4" <eq name="info['clone_zaiti_name']" value="4">selected="selected"</eq>>pCMV-Myc</option>
             <option value="5" <eq name="info['clone_zaiti_name']" value="5">selected="selected"</eq>>pCR2.1</option> 
             <option value="6" <eq name="info['clone_zaiti_name']" value="6">selected="selected"</eq>>Other</option>
             </select>
           </td>
              <td><input type="text" size="30" 
                name="clone_zaiti_size" value="{$info['clone_zaiti_size']}"/></td>
              <td>
                <select  onchange="checkOther(this,'other_input4');" class="custClon" name="clone_zaiti_kangxing">
        <option value="0" <eq name="info['clone_zaiti_kangxing']" value="0">selected="selected"</eq>></option> 
    <option value="1" <eq name="info['clone_zaiti_kangxing']" value="1">selected="selected"</eq>>Ampicillin</option> 
    <option value="2" <eq name="info['clone_zaiti_kangxing']" value="2">selected="selected"</eq>>Blasticidin</option>
    <option value="3" <eq name="info['clone_zaiti_kangxing']" value="3">selected="selected"</eq>>Chloramphenicol</option>
    <option value="4" <eq name="info['clone_zaiti_kangxing']" value="4">selected="selected"</eq>>Clarithromycin</option>
    <option value="5" <eq name="info['clone_zaiti_kangxing']" value="5">selected="selected"</eq>>Other</option>
              </select>
              </td>
              <td><input type="radio" value="1" 
                    name="clone_zaiti_copy" <eq name="info['clone_zaiti_copy']" value="1">checked="checked"</eq>>高
                    <input type="radio" name="clone_zaiti_copy" value="2" <eq name="info['clone_zaiti_copy']" value="2">checked="checked"</eq>>低</td>
            </tr>

            <tr align="center">
              <td>载体序列</td>
              <td>基因用途</td>
              <td><span class="xingxing">*</span>阅读框</td>
              <td>其他要求</td>
            </tr>

            <tr align="center">
              <td><input type="text" size=""
                name="clone_zaiti_serial" value="{$info['clone_zaiti_serial']}" /></td>
              <td>
        <input type="checkbox" name="clone_use[]" value="1" 
        <if condition="in_array(1,explode(',',$info['clone_use']))">
          checked="checked"
          <else />
        </if>/>蛋白表达与分析
　      <input type="checkbox" name="clone_use[]" value="2"  <if condition="in_array(2,explode(',',$info['clone_use']))">
          checked="checked"
          <else />
        </if>/>启动子筛选<br/>
　      <input type="checkbox" name="clone_use[]" value="3"  <if condition="in_array(3,explode(',',$info['clone_use']))">
          checked="checked"
          <else />
        </if>/>RNAi, 表观遗传学和基因调控<br/>
        <input type="checkbox" name="clone_use[]" value="4"  <if condition="in_array(4,explode(',',$info['clone_use']))">
          checked="checked"
          <else />
        </if>/>克隆
　      <input type="checkbox" name="clone_use[]" value="5"  <if condition="in_array(5,explode(',',$info['clone_use']))">
          checked="checked"
          <else />
        </if>/>DNA 疫苗
　      <input type="checkbox" name="clone_use[]" value="6"  <if condition="in_array(6,explode(',',$info['clone_use']))">
          checked="checked"
          <else />
        </if>/>重组抗体<br/>
        <input type="checkbox" name="clone_use[]" value="7"  <if condition="in_array(7,explode(',',$info['clone_use']))">
          checked="checked"
          <else />
        </if>/>其 他
              </td>
              <td><input type="radio" value="1" name="clone_read" <eq name="info['clone_read']" value="1">checked="checked"</eq>/>没有要求&nbsp;&nbsp;
    <input type="radio" value="2" name="clone_read" <eq name="info['clone_read']" value="2">checked="checked"</eq>/>和客户的要求是一致的</td>
              <td><textarea name="clone_other" style="">{$info['clone_other']}</textarea></td>
            </tr>


            <tr align="center">
              <td>质粒制备</td>
              <td><span class="xingxing">*</span>模板名称</td>
              <td colspan="2">质量级别</td>
               
            </tr>

            <tr align="center">
              <td> 
                <input type="radio" value="1" name="clone_zhili_sel" 
                <eq name="info['clone_zhili_sel']" value="1">checked="checked"</eq>> 标准交付: 4 μg (免费)<br/>
                <input type="radio" value="2" name="clone_zhili_sel" 
                 <eq name="info['clone_zhili_sel']" value="2">checked="checked"</eq>> 定制质粒制备：
             <select name="clone_zhili_option">
             <option value="0"  <eq name="info['clone_zhili_option']" value="0">selected="selected"</eq>></option>
             <option value="1" <eq name="info['clone_zhili_option']" value="1">selected="selected"</eq>>100 μg</option>
             <option value="2" <eq name="info['clone_zhili_option']" value="2">selected="selected"</eq>>200 μg</option>
             <option value="3" <eq name="info['clone_zhili_option']" value="3">selected="selected"</eq>>500 μg</option>
             <option value="4" <eq name="info['clone_zhili_option']" value="4">selected="selected"</eq>>1 mg</option>
             <option value="5" <eq name="info['clone_zhili_option']" value="5">selected="selected"</eq>>2 mg</option>
             <option value="6" <eq name="info['clone_zhili_option']" value="6">selected="selected"</eq>>10 mg</option> 
             <option value="7" <eq name="info['clone_zhili_option']" value="7">selected="selected"</eq>>20 mg</option> 
             <option value="8" <eq name="info['clone_zhili_option']" value="8">selected="selected"</eq>>50 mg</option> 
             <option value="9" <eq name="info['clone_zhili_option']" value="9">selected="selected"</eq>>Other</option> 
 
              </select>
              </td>
              <td> <input type="text" name="clone_moban" value="{$info['clone_moban']}" /></td>
              <td colspan="2" align="left">
                <input type="radio" value="0"  name="clone_help" <eq name="info['clone_help']" value="0">checked="checked"</eq>> Research Grade(Predominantly supercoiled, animal free)<br />
                <input type="radio" value="1"  name="clone_help" <eq name="info['clone_help']" value="1">checked="checked"</eq>> SC Grade (≥95% Supercoilded, ≤0.03 EU/ug Endotoxin)<br />
                <input type="radio" value="2"  name="clone_help" <eq name="info['clone_help']" value="2">checked="checked"</eq>> Advanced SC Grade(≥95% Supercoilded, ≤0.005 EU/ug Endotoxin)
              </td>
              
            </tr>


            <tr>
              <td colspan="4" align="center">
                <input type="submit" value="    保  存    " class="Submit"/>
              </td>
            </tr>



          </foreach>
        </table>



    </form>


    <!--表单结束-->
    </div>
</div>
</div>


<script type="text/javascript">
  //获取序列选项信息
    
     // window.onload=function(){
     //  //alert(form1.gene_clone_method.value);
     //  alert
     // }

  


</script>






</body>
</html>
